[2014-05-05 16:59] wemersonjanuario opened #1 "Documentation for 1.4.6"
Is there any feature that needs to be documentaded for 1.4.6 release? Please update README

Thanks

[2014-05-05 19:25] #1 closed, assigned to nobody

[2014-07-08 03:19] RicardoRamirezR opened #3 "Caching"
Hi there!

Is there any way to have the notifications cached?

[2014-07-09 14:51] #3 closed, assigned to nobody

[2014-07-11 03:22] RicardoRamirezR opened #4 "Delete notification has an extra query"
The current code has a find to load the model adding an extra read against the database.

[code]

The code below should work... or I'm missing something

[code]

[2014-07-11 15:17] #4 closed, assigned to nobody

[2014-08-02 19:42] GrahamCampbell opened #7 "1.x?"
What is the new_rec branch? Should the branch be named "1.6" so packagist will auto recognise it as 1.6-dev?

[2014-08-03 12:41] #7 closed, assigned to nobody

[2014-10-07 11:42] tomvo opened #9 "Variable replacement in categories"
I've been trying to get the variable replacement to work for categories with this category string (as per documentation):

`{user.username} sent you a friend request`

However, I couldn't get the library to replace that specific property. After I checked parts of the code I figured I had to do it like below, which works.

`{from.username} sent you a friend request`

Am I doing something wrong?

[2014-10-08 10:17] tomvo opened #10 "Notifynder::category not statically available"
The docs mention that `Notifynder::category('notFound')` can be used to fetch the category by name, but this method is not defined statically and hence cannot be called like that. Actually I think the category method in Notifynder is doing something else.

[2014-10-08 11:15] #10 closed, assigned to nobody

[2014-10-19 16:16] joaosalless opened #11 "artisan notifynder:group-add not working"
Hello,
Check line 142 of file `/vendor/fenos/notifynder/src/Fenos/Notifynder/Groups/NotifynderGroup.php`
I believe that the parameters of `strpos ()` command are reversed.

[code]

Thank you so much.

[2014-10-23 10:39] marijang opened #12 "Extend model"
I try to extend Model and change config to
'notification_model' => 'UserNotification',

But it is not working.

This is my New model

<?php
use Fenos\Notifynder\Models\Notification;
class UserNotification extends Notification
{

[code]

  public function getCreatedAtAttribute($value)
    {
        $user = Token::getUser();
        return FmtDate::formatToUserTime($value,$user->id);
    }

}

[2014-10-23 15:10] #11 closed, assigned to nobody

[2014-10-23 17:13] #12 closed, assigned to nobody

[2014-10-24 09:56] marijang opened #13 "Listener"
Listener not working:(

Config file

[code]

I create eventhandler in folder "Observers" with this code

[code]

I get following error when try to fire event

Argument 3 passed to Observers\EventHandler::usersFollowers() must be an instance of Observers\Notifynder, instance of Fenos\Notifynder\Notifynder given

Thanks

[2014-10-24 11:19] #13 closed, assigned to nobody

[2014-11-05 16:34] tomvo opened #14 "Events firing but nothing happening"
I'm not sure but since the latest update it seems my notifications listened for in events are not stored in the database anymore. The events get triggered and also fired but nothing happens.

This is the handler

[code]

and the test emitter:

[code]

any idea?

[2014-11-05 16:49] #14 closed, assigned to nobody

[2014-11-13 09:20] tomvo opened #15 "'extra' replacement for different values results in always the same replacement"
This is my database:
https://www.dropbox.com/s/n9niuy621j9o1gy/Screenshot%202014-11-13%2010.16.30.png?dl=0
https://www.dropbox.com/s/14w7kg2n6ii27us/Screenshot%202014-11-13%2010.16.59.png?dl=0

There seems to be an issue that when I call `Notifynder::getAll()` it returns the replaced body text but always with the same value. I except in my case one replacement for the text logbook and one for arti

[2014-11-17 14:55] #15 closed, assigned to nobody

[2014-11-19 18:39] ronnievisser opened #16 "Config can't be read"
Hi,

I have published the config but it seems like it can't be read. In NotifynderServiceProvider on line 97 the notification model is determined based on the config key "notification_model" but is stays empty.

I haven't changed the config at all. The following exception is thrown "Class name must be a valid object or a string "

Regards,
Ronnie

[2014-11-19 20:03] #16 closed, assigned to nobody

[2014-11-24 00:56] saeedhbi opened #17 "Class 'User' not found"
Hi,

I'm using 'SentryUser' package as User model. Applciation is fine with SentryUser But I recieve "Class 'User' not found" exception when I want to read notifications.

Regards,
Saeed.

[2014-11-24 06:06] #17 closed, assigned to nobody

[2014-12-11 05:12] sssession opened #18 "Why does the group name must have dot?"
`The name must be a string with dots as namespaces`

I didn't find the place where use the group name's dot. May I know it ? And how to use the `URL` field in `notification table` ?

Thanks

[2014-12-12 12:31] #18 closed, assigned to nobody

[2015-01-26 00:41] jbardnz opened #19 "Getting latest notifications"
Hello

Their doesn't seem to be a way to get the most recent notifications. If I call
Notifynder::getAll($this->id, 10)

I would expect this to return the 10 most recent notifications but instead it returns the 10 oldest.
Should the function have an extra parameter to sort by date similar to how readLimit works?

Happy to make a PR if you want?

[2015-01-26 13:49] fenos commented on #19
Yes this is a good point, make the PR when you can thanks! :+1:

[2015-02-02 04:07] webcrazy opened #21 "Can you upload Demo page?"
Hi
I'd like to see how things work. Can you upload demo page?
Thanks

[2015-02-04 10:58] davgothic opened #22 "Documented methods are undefined"
The [`Notifynder::addCategory` method documented here](https://github.com/fenos/Notifynder#add-categories) seems to be undefined and I can't find any mention of the method when doing a search through the repository.

If I want to add a category via code and not using Artisan how should I proceed?

[2015-02-04 11:29] fenos commented on #22
Hi @davgothic this is my mistake, I forgot to implement that method when I update the package from  v1 to v2 in the next 3 days I will release the version 3 of notifynder, and it will have all the methods in the right place. If you are rushing inject the `Fenos\Notifynder\Categories\ NotifynderCategory` and the method `add` it's just what you need :)

[2015-02-04 11:38] fenos commented on #21
Yes When Notifynder 3 will be released I'll glad to create an example app

[2015-02-04 11:47] davgothic commented on #22
No problem @fenos, thanks for the advice!

If I get any spare time I'll look at fixing some of the misspellings in the documentation. Good luck with shipping v3!

[2015-02-04 11:50] fenos commented on #22
@davgothic Thanks a lots!! Sorry again for the little issue. Hope you like notifynder :)

[2015-02-09 17:43] TresErres opened #23 "Laravel 5"
Are you planning to have Notifynder be compatible with Laravel 5?

[2015-02-09 18:44] fenos commented on #23
Currently notifynder 3.0 it's finished, i'm just stuck on running integration tests on the package, I will dig into it this week, and I will officially release it. Notifynet 3.0 will have 2 versions 1 for laravel 4 and the other dedicated to laravel 5. Hope you'll see it soon

[2015-02-09 18:46] TresErres commented on #23
Great!! and keep the good work! thank you !!!

[2015-02-14 15:21] drtzack commented on #23
+1 for waiting.

[2015-02-14 16:16] thisisablock commented on #23
+1 :+1:

[2015-02-16 11:58] marijang commented on #23
:+1:

[2015-02-23 18:12] Jaspur commented on #23
:+1:

[2015-02-23 18:20] Jaspur commented on #23
How to install 3.0 branch? ``"fenos/notifynder": "3.0-dev"``` doesn't work

[2015-02-26 03:47] TresErres commented on #23
To bad for me, I need to go on, so I remove Notifynder

[2015-02-26 09:47] fenos commented on #23
Sorry guys, I'm having hard time at work, just working 16 hours a day. I'I'm apologise for this I'll  create a service provider for l5 for the v. 2.5 Untill I release the version 3

[2015-02-26 17:14] leo4all opened #24 "Documents Method Undefined"
[InvalidArgumentException]
Command "notifynder:group-add-category" is not defined.

 notifynder:group-add-categories   Associate the categories to a group

[2015-02-27 16:23] fenos commented on #24
Sorry my spelling mistake on the documentation, the command is `notifynder:group-add-categories`

[2015-02-27 16:23] #24 closed

[2015-02-27 19:43] leo4all commented on #22
Hi @fenos I think is a great packages, which version could I install,

[2015-03-01 21:44] fenos commented on #23
Package for laravel 5 is ready on the branch 3.0-l5 will be merged in the master once i finished the documentation

[2015-03-01 21:44] #23 closed

[2015-03-01 21:46] fenos commented on #22
Fixed the method in notifynder 3.0 :)

[2015-03-01 21:46] #22 closed

[2015-03-02 21:03] Maxime-BHA commented on #22
@fenos It'd be nice if you could backport the fix to Notyfinder 2.0 are some people are still using it for Laravel 4.

[2015-03-02 21:17] fenos commented on #22
@Maxime-BHA Sure no problem i'll do it :+1: I'll make also notifynder 3.0 for laravel 4, it will be one release that will not be update once notifynder 3.* for laravel 5 go forward.

[2015-03-02 21:20] Maxime-BHA commented on #22
@fenos back ported it on PR #25

[2015-03-02 21:21] #19 closed

[2015-03-02 23:03] Maxime-BHA opened #26 "Notifynder 2.5.* requires Laravel 5 components but contains"
[code]

@fenos I'm suggesting that you should create a tag for people who currently uses Laravel 4 or update 2.1.x for Laravel 4 (including the change of installation instruction for the different version of Laravel)

[2015-03-02 23:08] fenos commented on #26
Sorry my fault, i didn't update the composer.json. Currently the version 2.5.* is for laravel 4, notifynder 3.* is laravel 5. I'm going to fix it

[2015-03-02 23:17] fenos commented on #26
Ok, I pushed the fixes try now :)

[2015-03-02 23:23] Maxime-BHA commented on #26
@fenos

Composer update passes with success :+1:

If you need any help for the docs, I'll be happy to help as I have free time and I can write few exemples of usage..

[2015-03-02 23:24] #26 closed

[2015-03-02 23:40] fenos commented on #26
Thanks a lot for the support, will be nice if you can do it after i release the documentation :)

[2015-03-03 05:59] Maxime-BHA opened #27 "Cannot call attributes as object"
Hello,

I was trying to loop out the whole notification and output it, but calling `body`and `from` after a foreach seems to throw a `Trying to get property of non-object`, there is some code :

Controller :
[code]

View :
[code]

This current view don't work but if I replace these by associative array attributes, its working :
[code]

This is not very convenient, doesn't allow me to call my user

[2015-03-03 06:20] Maxime-BHA commented on #27
I finally found why, you where converting the Eloquent Items to array which blocks many possibilities and also calling proprieties, going to send another PR for Notifynder 3.0

[2015-03-03 09:30] #27 closed

[2015-03-03 14:10] UntitledRobot opened #29 "Documentation"
Hello,

I was thinking about moving away the docs from the readme.md to the inbuilt GitHub Wiki or docs folders there is my reasons :

* Wiki can be edited by anyone or just send a request for edit/pull request easily.
* Multiples version management.
* A way better readability.
* Complete API and exemples for all version, including PHPDocumentator.
* Changelog and Roadmap including **maybe** LTS.

[2015-03-03 14:13] Maxime-BHA commented on #29
Also, I think that owner and contributors should report and flag any bugs from any milestone as people, contributor will maybe give a bit of help and do PR, or suggest idea or way to fix it properly (also, mind up to add a CONTRIBUTING.MD for PR/Issues rules, I saw too many PR without Travis-CI build or Scrutinizer failed)

[2015-03-03 15:06] fenos commented on #29
@Maxime-BHA I totally agree on moving the documentation on the git wiki, and i agree with the way of label any issues. Honestly i made notifynder 3.0 with a bit of rush for people that want to use the package in laravel 5. It's functional as always but I have still a couple of future to implement (it took me a lot time rewriting all tests from 0 bcs i wasn't happy with the previous) . My daily job

[2015-03-03 15:53] Maxime-BHA opened #30 "[IDEA] Flash/Timed Notifications/Categories"
Hello back (yes, me again),

@fenos - This is an improvement idea for 3.x, as now, we know that categories are permanent (but can be deleted), and also notifications are permanent (and can also be deleted).

Flash notifications tends to make things easier for people who don't want to get mad with `readOne()` or anything other, and delete after this notification was read, infact, not everybody want

[2015-03-03 16:36] Maxime-BHA commented on #30
It's mainly based on the idea of Flash sessions, and I forgot something, if the category is timed/flashed and there are still some user that doesn't read the notification, we can refresh/retime the category for a new defined time.

[2015-03-03 17:29] fenos commented on #30
Mmmh interesting concept, but those flash notifications are not the scope of notifynder, let me explain.

Using flash sessions to show a message doesn't need a notifynder feature when you can do:

[code]

Flash/Timed Notifications:

This feature can't be implemented without a cron job running. Let's say that the user has received 10 notifications, then those notifications has an expire date field

[2015-03-03 17:59] Maxime-BHA commented on #30
@fenos actually for Timed/Flash notification, we don't need to check out with Crontab, per exemple, with MySQL checking on request or even better, with queued jobs and with the new Middlewares and others functions of Eloquent/Laravel, we can easily check out for expire date, per exemple, we check if there is any Flash/Timed notifications on the Collection Items, if there is, we just need to check

[2015-03-03 18:17] fenos commented on #30
@Maxime-BHA mmmh now i got a better idea :) this is a good idea but I see it in another way, tell what do you think:

Unfortunately you can't have a middleware or any other checks for every request that check the expiration date of a notification. It's really overkilling to have not needed 1/2 query for each request.

But instead i think you can already do this even if is missing the deleting part

[2015-03-03 18:23] Maxime-BHA commented on #30
@fenos I understood all the whole thing except this part :

"But what about if you have 2 notifications with maintenance.server category in 2 different days? Then yes the expire_date will be useful! :+1:"

How could we use the expire_time per exemple ?

[2015-03-03 18:26] Maxime-BHA commented on #30
Oh! I see now :

Like there is one notification from 15/12/15 and another one from 16/12/15, so we do deleteNotificationByCategory($category, $expire), assuming that expire is 15/12/15, we just delete any notification from that expire ?

[2015-03-03 18:31] fenos commented on #30
Correct! :) but i think to separate the 2 methods:
1 might be `deleteNotificationByCategory($categoryName)` will delete all notification by category

and the second might be deleteExpiredNotification($categoryName) you don't need to pass the date you'll delete the expired querying the database isn't?

[2015-03-03 18:44] Maxime-BHA commented on #30
@fenos why not directly implements scopes/attributes/methods onlyExpired() and withExpired(), and pass on `deleteNotificationByCategory($categoryName, true)`, second parameter is `$expired` and must be casted as a `bool`, and going to be `FALSE` per default (**maybe** using a new config file parameter), if second parameter isn't give and the method will be working like this :

* IF `TRUE` : We are

[2015-03-03 19:03] fenos commented on #30
Yhea make sende :) but i was thinking to separate the methods for be sure that the developer doesn't mistake and will delete all the categories by name. But passing a boolean hard coded i think is fine :) mmmh i'm not to sure if use the config file for it when the default can be specified in the method it self ex:

[code]

If you have any reason to have it in the config file then might be an optio

[2015-03-03 19:09] Maxime-BHA commented on #30
I'm trying on my local install, have you the docs on how to unit-test with your package ?
To be sure that Travis-CI will be taking care of the changes.

[2015-03-03 19:14] Maxime-BHA commented on #30
@fenos just a simple though shouldn't we use `$categoryName` as an array , allowing us to delete notification on more than a single category ?

[2015-03-03 19:20] fenos commented on #30
Cool! :+1: I do 2 types of testing for this package:

- 1) Unit Test with PhpSpec i really like it just reading the spec you can see what the method does, the folder is `spec`

- 2) Integration test where i check that the package works as expected on the database side of it :) the folder is `tests\integration`. It's already setup everything and it use a sqlite, so once you finish with the methods

[2015-03-03 19:33] Maxime-BHA commented on #30
@fenos

Is this truly important to use `Notifyder::category($nameCategory)`, wouldn't it be more simple by just calling `Notifyder::deleteByCategory($nameCategory, true)`?

[2015-03-03 19:34] fenos commented on #30
yes it is :+1:

[2015-03-03 19:55] Maxime-BHA commented on #30
@fenos while I'm on the `NotificationRepository` how could I access to the id of the category though the name ?

[2015-03-03 20:03] fenos commented on #30
mmmh why you need it? can you not query with the name of the category instead of the id?

[2015-03-03 20:05] fenos commented on #30
if you send me an email with your skype contact we chat there about technical part :+1: you can find my email on my git profile

[2015-03-03 20:10] Maxime-BHA commented on #30
@fenos sent by mail.

[2015-03-04 01:54] fenos commented on #30
Thanks :+1:

[2015-03-04 01:54] #30 closed

[2015-03-21 19:41] sixty8 opened #31 "Laravel 5?"

[2015-03-21 19:59] Maxime-BHA commented on #31
Check `3.0-l5` branch, you shouldn't use it now as we implemented new functions and will be changing more and more things.

[2015-03-22 13:29] fenos commented on #31
@sixty8 you can use the L5 version just we are implementing new features, we won't break drastically anything but you might need to correct some method name

[2015-03-23 16:20] sixty8 commented on #31
+1

[2015-04-05 16:45] micheleangioni commented on #31
Hi, any estimated ETA for a production-ready Laravel 5 version?
Thanks :)

[2015-04-05 16:59] Maxime-BHA commented on #31
@micheleangioni I can't give any ETA for this as long as I'm a bit busy and that said, @fenos is a bit busy these days too.

[2015-04-05 18:47] micheleangioni commented on #31
Ok, thanks for your answer @Maxime-BHA

[2015-04-15 18:31] fenos commented on #31
@micheleangioni Notifynder 3.0 for laravel 5 is official released

[2015-04-15 18:31] #31 closed

[2015-04-15 21:21] micheleangioni commented on #31
@fenos Thanks for the info! Good job! :)

[2015-04-15 21:24] fenos commented on #31
Thanks, hope you can enjoy it's functionalities

[2015-05-07 15:50] trainingday01 opened #32 "getNotRead() throws Class 'User' not found"
Hello!
Notifynder::getNotRead(Auth::user()->id) and Notifynder::getNotRead(1) both throw that error, namespace issue?

Great work! Keep it up!

[2015-05-07 16:09] trainingday01 commented on #32
Had to set
'model' => 'App\User',
in the notifynder config.
Sorry! Now it works :)

[2015-05-07 16:09] fenos commented on #32
Thank you for report the issue, I try to use that method but I don't receive that error. I guess that you are didn't changed your `User` Model namespace on the configurations, in notifynder.php

[2015-05-07 16:09] fenos commented on #32
Ohh goood :+1:

[2015-05-07 16:10] trainingday01 commented on #32
Thank you!

[2015-05-07 16:11] #32 closed

[2015-05-14 15:07] chadtomkiss opened #33 "Polymorphic Notifications"
Hi,

Do you have an example as to how to use polymorphic notifications?

I can't see how to set the type of from/to models.

[2015-05-14 15:09] #33 closed

[2015-05-14 15:10] chadtomkiss commented on #33
Figured it out as I typed this lol.

from() can accept 2 arguments, the string of the model, and then the id

Eg: from('App\User', $user->id)

[2015-05-14 15:57] fenos commented on #33
yes exactly :)

[2015-05-20 22:28] DarioCalovic opened #34 "No items"
Hey there

I am really excited about your project here, but i'm having issues with it. I tried this code sample here:

$user_sender_id   = 1; // User sender
$user_receiver_id = 2; // User that receive the notification

Notifynder::category('hello')
           ->from($user_sender_id)
           ->to($user_receiver_id)
           ->url('http://localhost')
           ->send();

// we sent the notific

[2015-05-20 22:34] fenos commented on #34
Thanks for submitting the issue, i see the problem i'm submitting a fix for it :+1:

[2015-05-20 22:41] fenos commented on #34
If you can do a composer update try and see if that fixed your issue

[2015-05-20 22:47] DarioCalovic commented on #34
Wow, that was very fast!
It fixed my issue. Thank you very much!

[2015-05-20 22:47] #34 closed

[2015-06-09 15:09] infobahn opened #35 "The down method for the migration where you are making the name column unique on notification_categories table"
In the current version of the code the down method looks like

[code]

The problem is that trying to do a rollback using php artisan fails, as the key is actually named differently. The following version works

[code]

[2015-06-09 15:10] infobahn commented on #35
I apologise for the _very_ verbose issue name!

[2015-06-09 19:02] Maxime-BHA commented on #35
Please make a PR with your change, so I'll check if that doesn't break anything.

[2015-06-09 20:50] sixty8 opened #36 "Building Multiple Notifications"
I have problems with the multiple Notifications
works only if i put the sent() to the $builder
What am i doing wrong?

Thanks

// It send a notification to all the users
$this->notifynder->loop($users, function(NotifynderBuilder $builder, $user) {

       $builder->category('sayhello')
           ->from(1)
           ->to($user->id)
           ->url('http://localhost')
           ->extra(compact('

[2015-06-10 08:49] fenos commented on #36
Oh, my fault you should return the builder inside the closure like so:

[code]

I will send a patch this afternoon to not be forced to return the builder thanks for submitting the issue

[2015-06-10 14:32] fenos commented on #35
Thanks for submitting the issue and the pr really appreciated

[2015-06-10 14:32] #35 closed

[2015-06-10 14:47] #36 closed

[2015-06-30 15:43] Aryess opened #39 "Ordering notifications"
Hey,

Is there any way to order the notifcations by date? All get functions returns oldest first, and while the read function is order-able, it doesn't return the read notifications.

[2015-06-30 16:27] fenos commented on #39
By default notifynder is ordering the notifications by date in a DESC order so newest first.

https://github.com/fenos/Notifynder/blob/master/src/Notifynder/Notifynder.php#L175

Which method are trying to use? Can you make an example please i'll glad to help you

[2015-06-30 18:13] Aryess commented on #39
Is it? Forgot to mention, I'm on laravel4, using version 2.5 of Notifynder
I'm using $notifications = Notifynder::getNotRead($currentUserId);

[2015-06-30 21:51] Maxime-BHA commented on #39
@Aryess Notifynder 2.0 (L4 branch) doesn't include ordering on `getNotRead()`

However, feel free to modify the following files from the following files, adding the order parameter like how it has been done on Notifynder 3, I'll maybe do it if I got time or @fenos will do it, but maintaining two different versions on two different Laravel version is a hard thing to do..

**Notifynder Laravel 4, fi

[2015-07-01 18:57] narangrishab opened #40 "Issue with the Notifable functions"
public function getUnreadNotifications(){
		$user = User::find(1);

		dd($user->countNotificationsNotRead());
	}

@fenos

This shows
BadMethodCallException in Builder.php

[2015-07-02 04:45] shawncplus commented on #40
+1 on this but in a different scenario

`$user->readAllNotifications()` results in

Call to undefined method Illuminate\Database\Query\Builder::notifynderIntance()

`$user->countNotificationsNotRead()` works just fine

[2015-07-02 08:38] fenos commented on #40
Hi guys, yes a pull request fixed this issue i'll create a new tag as soon as possible so that you can again use on the composer notifynder 3.* Thanks guys to report the issue

[2015-07-02 08:46] fenos commented on #40
I created a new tag 3.0.6 so just do a composer update and you'll get the issue fixed thanks.

[2015-07-02 10:06] Aryess commented on #39
`maintaining two different versions on two different Laravel version is a hard thing to do`
No worries.

Thanks for the answer, I'll see what I can do.

[2015-07-02 14:42] narangrishab commented on #40
I'm still getting an error.
![screen shot 2015-07-02 at 8 11 13 pm](https://cloud.githubusercontent.com/assets/9140727/8479607/8869671c-20f6-11e5-8619-a811319ecfff.png)

I have updated the file.

	public function getUnreadNotifications(){
		$user = User::find(1);
		dd($user->countNotificationsNotRead());
	}

Error: BadMethodCallException in Builder.php
@fenos

[2015-07-02 15:20] fenos commented on #40
ops i'm sorry let me double check, i'll push the fix in about 2 hour max sorry for the inconvenient

[2015-07-02 17:46] narangrishab commented on #40
@fenos  Please do. I'll be waiting. Thanks :)
Also could you post an example of how to retrieve unread notifications or the code that I'm using is correct?

[2015-07-02 18:19] fenos commented on #40
@narangrishab  I'm working on it, to retrieve notification unread you do as following:

[code]

[2015-07-02 20:00] #40 closed

[2015-07-02 20:00] #39 closed

[2015-07-03 14:44] narangrishab commented on #40
I'm still getting the error. Did you fix it in 3.0.7? @fenos

[2015-07-03 14:44] narangrishab commented on #40
My composer.json 	"fenos/notifynder": "3.*"

'Fenos\Notifynder\NotifynderServiceProvider'

	'Notifynder'    => 'Fenos\Notifynder\Facades\Notifynder'

I'm able to insert notifications but the notifable functions don't work

[2015-07-03 14:46] fenos commented on #40
@narangrishab can you please paste the full error message please? I wrote the tests about the `Notifable` trait it's working also in my project it's working

[2015-07-03 18:05] narangrishab commented on #40
@fenos
<img width="910" alt="screen shot 2015-07-03 at 11 34 21 pm" src="https://cloud.githubusercontent.com/assets/9140727/8503383/2da2dffc-21dc-11e5-9cc8-4e2e9617a11d.png">

[2015-07-03 18:06] narangrishab commented on #40
Do I need to include Notifable trait in my controller or something?

[2015-07-03 19:35] fenos commented on #40
@narangrishab can i see you model please

[2015-07-03 19:38] narangrishab commented on #40
@fenos I fixed it. There was an issue in my model. Thanks :)

[2015-07-03 19:42] fenos commented on #40
Glad to hire that, if you have any problem/questions just open a issue

[2015-07-03 19:51] narangrishab commented on #40
So basically I have a navbar which is in main layouts where I need to display notifications in the navbar (like facebook). How do I call the notifications method so that each of the page can access the notifications by clicking on button?

[2015-07-03 20:51] fenos commented on #40
@narangrishab You should handle this with Javascript, You have to send an ajax request to your app, and receive the notifications in a Json format so you can display it inside the box how facebook does. I use the same technique on my website

[2015-07-04 10:32] narangrishab commented on #40
@fenos  I have retrieved the notifications, unable to display them into a division. How do I pass the json data from jquery ajax to front end?

[2015-07-05 13:47] narangrishab opened #41 "Get the textual format from query itself, not the database"
Can I get the textual form of the notification I'm creating with the query itself?

	Notifynder::category('user.following')
				           ->from($senderId)
				           ->to($receiverId)
				           ->url(User::find($senderId)->slug)
				           ->send();

Eg: user1 started following you

[2015-07-05 14:00] fenos commented on #41
Can you elaborate a bit more please i'm not sure what you are meaning thanks

[2015-07-05 14:12] narangrishab commented on #41
I figured it out. Thanks anyway.

I have another issue.

$user->getNotifications()

User_id = 2

<img width="1031" alt="screen shot 2015-07-05 at 7 41 45 pm" src="https://cloud.githubusercontent.com/assets/9140727/8511999/e9b03da8-234d-11e5-9093-5fb950d08d3f.png">

array:2 [
  0 => array:15 [
    "id" => 7
    "from_id" => 3
    "from_type" => null
    "to_id" => 2
    "to_type" => null
    "categ

[2015-07-05 14:14] narangrishab commented on #41
@fenos  Basically, it's returning me notifications for to_id rather than from_id

[2015-07-05 14:16] fenos commented on #41
@narangrishab of Course that make sense, you want to get the notification **received* from that user not the sent one

**to_id** means who receive the notification

[2015-07-05 14:35] fenos commented on #41
It's this solved?

[2015-07-05 14:37] narangrishab commented on #41
Hey @fenos . Yep it's solved. Thanks buddy!

[2015-07-05 15:23] fenos commented on #41
No problem, for any question or issue i'm here :+1:

[2015-07-05 15:23] #41 closed

[2015-07-05 18:59] narangrishab commented on #41
@fenos  How do I trigger a notification alert whenever a new notification is added. Basically like facebook does it, how do I notify a particular user that notification has come. Do I need some kind of sockets/triggers for it? Could you suggest any package for laravel.

[2015-07-05 19:05] fenos commented on #41
@narangrishab Exactly you have to use sockets, in Laravel 5.1 it's pretty easy it come out with a EventEmitter that can talk your sockets. It use  NodeJs,socket.io, Redis. It's also documented on the laravel docs

[2015-07-05 19:06] narangrishab commented on #41
Do I need to move my entire project to node js for the same?

Also, Do I need to use Redis? @fenos

[2015-07-05 19:07] narangrishab commented on #41
Currently I'm using Laravel 5.0 with Mysql as my db.

[2015-07-05 19:11] fenos commented on #41
Why not upgrade if you want to use sockets?

[2015-07-05 19:12] narangrishab commented on #41
1. Could you recommend some tutorial for notifications using Laravel and Sockets?

[2015-07-14 16:01] saqueib opened #42 "I love to use this but its required PHP 5.5 which my server doesnt have"
Please let me know if there any way I can use this package in my Laravel 5 Project, i have php 5.4 and its not installing

[2015-07-14 18:32] fenos commented on #42
I would't encouraging you to stay to php 5.4, anyway i don't think you'll be able to use **Notifynder** staying with php 5.4 because I use <a href="http://www.php.net/manual/en/migration55.new-features.php#migration55.new-features.class-name">::class</a> php 5.5 constant to get the full path name of a class.

Keep php up to date it's always good :+1: . Hope you can upgrade and try the library, it

[2015-07-14 18:32] #42 closed

[2015-07-15 02:14] saqueib commented on #42
I think i need to create my own solution, I am on shared host and they are not planning to update php.
Anyone knows any other package similar to this. I cant find any?
Thanks.

[2015-07-15 17:24] fenos commented on #42
If you want really use it, just fork it, and change backwards compatibilities issues and update the composer.json. You'll be able to use it. :+1:

[2015-07-21 20:16] Modifikator opened #43 "How to use expire_time?"
Not found the method expire in NotifynderBuilder, maybe we should add?

    /**
     * Set expire time
     *
     * @param $datetime
     * @return $this
     */
    public function expire($datetime = null)
    {

        $this->setBuilderData('expire_time', $datetime);

        return $this;
    }

[2015-07-22 15:10] fenos commented on #43
Hi @Modifikator i look at the code a bit, and yes you are right expire time method is not there, thanks for reporting if you can send a PR will be appreciated

[2015-07-23 15:54] #43 closed

[2015-07-23 16:12] Maxime-BHA commented on #43
@Modifikator

Just added the method to the Builder thanks a lot for the report, however, I needed a way to verify if the date time was valid and I figured out that it was really complicated to support all kind of date, so expire method needs an instance of Carbon API as parameter :

[code]

[2015-07-25 15:09] sunnysingh opened #44 "?page= URL parameter always returns first set of data"
Pagination does not seem to work as expected. Putting `?page=2` in the URL does change the `current_page` and `prev_page_url` properties in the result, but the `data` array seems to remain the same across all pages (page 1 data shows up for page 2, 3, etc.).

This is the code that I am calling:
[code]

See below the output when I put `page=2` (should show from id 6 through 10, but it shows 5):

![

[2015-07-25 17:20] fenos commented on #44
@sunnysingh Thank you for report the issue i'll dig into it very soon to understand why you have that behaviour. I'll get you back asap

[2015-08-05 02:23] sunnysingh commented on #44
While I still have this issue, I found a workaround. I simply created a `Notification` model that extends `Fenos\Notifynder\Models\Notification`, and grabbed the data via the Eloquent model. This lets me use `paginate(5)` on the model as with any Eloquent model.

[2015-08-05 02:42] Maxime-BHA commented on #44
@sunnysingh @fenos

If my memories are good `paginate()` is using the `LenghtAwarePaginator`, [see the API](http://laravel.com/api/5.1/Illuminate/Database/Eloquent/Builder.html#method_paginate) and is not a part of the Collection but a part of the Builder.

I'll try a simple workaround to include a `paginate()` method or to make work the LenghtAwarePaginator directly in some minute through my fork

[2015-08-05 07:22] Maxime-BHA commented on #44
@sunnysingh @fenos

Everything is in order now and detects the next page, the problem is (and except on @fenos to think about it) that the `Paginator::rendor()` will not work as the instance of the Paginator has been return as an array, trying to pass it as an object will just result in breaking up the test and being unable to get the items even I tried so far..

[2015-08-05 08:35] #44 closed

[2015-08-05 08:47] Maxime-BHA commented on #44
@sunnysingh please confirm that everything is working fine with 3.0.8

[2015-08-05 16:21] rulrok opened #49 "[Suggestion] Null value for sender"
In my application we have a scenario where logged in users can create comments upon other users' contents and those content creators will be notified about it.
But in some cases, it is also possible for non-registered users to also comment using only a name and email fields.

I have tried something like this, using the _extra_ method to send the user name and email.

[code]

but it will not allow

[2015-08-05 22:45] Maxime-BHA commented on #49
@rulrok

Keep it simple and stupid :+1:

[code]

[2015-08-06 00:17] sunnysingh commented on #44
@Maxime-BHA Yes, this works exactly as expected now and I switched back to using the `getNotifications()` method. I appreciate everyone's fast responses and your work on this is spectacular.

[2015-08-06 00:37] Maxime-BHA commented on #44
@sunnysingh Thanks you so much, we appreciate these kind comments on @fenos works, i'm just a maintainer ;)

[2015-08-07 16:17] rulrok opened #50 "[Suggestion] Retrieve messages filtering by category"
Hi, it's me again.

I was looking through the code and apparently there is no away for retrieving notifications filtering only by a specific category.

For example

[code]

Or even more eloquent

[code]

Of course that I could just retrieve all then, iterate through them and do my work, but it would be an unnecessary pain if such method was present. Besides, sometimes I really __only__ wish to get

[2015-08-12 15:54] wemersonjanuario commented on #49
set 0 for from_id is the best way?
How to implement for internal system notifications?

ex: "New user registered" 2 minutes ago

[2015-08-12 16:00] Maxime-BHA commented on #49
@wemersonjanuario

Simply, no.
It is not the best way to do it, it's just a word-around before we make something like @rulrok did possible.

We've talked about with @fenos and the current idea is to assign a default User entity or Polymorphic Model Entity when `from` is a `NULL` value, we're still thinking about this feature :smile:

[2015-08-12 16:19] wemersonjanuario commented on #49
Nice to know it. I hope you can implement this feature soon.
Thanks!

[2015-08-18 13:45] fenos commented on #50
@rulrok Thanks for the suggest, i like the idea, I'll try to implement a soon as i can maybe little differently

[2015-08-18 13:51] fenos commented on #49
@rulrok @wemersonjanuario What i was thinking is that Notifynder already allow for a **System kind** of notifications. Of course is not out of the box but i'll think about it, if this functionality has to be given out of the box.

Let's look it in this way:

You can create a table called `system_bots`

[code]

Then create your model as usual:

[code]

When you want to send a notification from the

[2015-08-24 21:23] stanwarri commented on #50
+1 on this. Need a way to filter notifications per category. Sometimes you wish to display notifications in certain part of your application based on the category.

[2015-08-25 04:03] stanwarri opened #51 "Variable replacement"
I can't seem to get variable replaced from category {from.full_name}. I thought it will automatically pick full_name attribute from my model and replace it when saving. What is the proper way of doing this. I can't find it in the documentation.

Thanks

[2015-08-27 19:59] fenos commented on #51
The `{from.full_name}` doesn't replace the value when saving. But Notifynder will replace the value when you retrieve the notifications. If you have any questions about it i'll help you.

[2015-08-27 19:59] #51 closed

[2015-08-28 03:14] stanwarri commented on #51
This is not been replaced in my application. What do you think I'm doing wrong

[2015-08-31 19:47] fenos commented on #51
@stanwarri sorry if i'm delaying a bit to answer but, i'm a bit busy nowadays, btw, be careful that when the notification body is parsed it create a new property into the object: https://github.com/fenos/Notifynder/blob/master/src/Notifynder/Models/NotifynderCollection.php#L76

called: **text** make sure you access to it `$notification->text`

[2015-09-14 11:07] JellyBool opened #52 "how to make a single notification read by id?"
i went through the wiki,but can not found how to read a single notification,do i miss something?

i found readOne() method in NotificationRepository, but how to use it ?

[2015-09-14 12:31] fenos commented on #52
Hi @JellyBool, Notifynder allow that very easily, here is the reference for the function: https://github.com/fenos/Notifynder/blob/master/src/Notifynder/Notifynder.php#L105

**Usage:**

[code]

[2015-09-14 16:31] JellyBool commented on #52
@fenos
that's awesome!!! thx

[2015-09-14 16:49] #52 closed

[2015-09-26 22:07] computerfr33k opened #53 "Prints users table on every page and on the command line"
ex: string(5) "users"

[2015-09-26 22:12] fenos commented on #53
i'm not sure I understand your problem can you try to reformulate with more details please

[2015-09-26 22:17] computerfr33k commented on #53
So if I do a composer install, update, etc. It will print out the name of the users table.
It will also show up on any route response.

![screenshot from 2015-09-26 17-15-36](https://cloud.githubusercontent.com/assets/2096910/10120127/4ffdd4f2-6472-11e5-818d-6ef8225be77d.png)

[2015-09-26 22:53] fenos commented on #53
this is not a Notifynder issue

[2015-09-26 22:57] Maxime-BHA commented on #53
Closed as invalid, please be careful next time.

[2015-09-26 22:57] #53 closed

[2015-10-03 21:37] sakalauskas commented on #50
+1 for this.

[2015-10-07 05:01] AbdullahGhanem opened #54 "array_key_exists() expects parameter 2 to be array, null given"
when get
[code]
this error show
[code]

[2015-10-07 06:47] AbdullahGhanem opened #55 "how can use extra in view"
when run
[code]
i get this
[code]
how can show only this
[code]

[2015-10-07 14:08] fenos commented on #55
yes, that is a json string representation of the extra parameter. What you can do it's to `json_decode()` `extra` parameter so you will receive either an object or an array.

But i would rather add this in the model with a decorator, or with Laravel 5 with the `$casts` property.

For the short term fix you can json_decode the extra param. I will send a PR to make it happen automatically thanks for

[2015-10-07 14:10] fenos commented on #54
If the extra param it's not given in a category that require a parsing, that error would be thrown. I would rather give a better Error message when the developer miss that

[2015-10-07 19:35] DEV-Texungo commented on #50
+1 plox

[2015-10-08 02:22] AbdullahGhanem commented on #55
thanks fenos

[2015-10-08 02:53] AbdullahGhanem opened #56 "how can create categorySeeder ?"

[2015-10-08 03:15] AbdullahGhanem commented on #54
thanks

[2015-10-08 15:00] fenos commented on #56
In my application a created a seeder like this, don't forget that models are always available in your app

[code]

Does it solve your question?

[2015-10-08 19:40] fenos commented on #55
you can now access to the params:

[code]

[2015-10-08 19:40] #55 closed

[2015-10-08 19:45] fenos commented on #54
New configuration option added `strict_extra`:

**Enabled:** You will receive exception when you are trying to display a notification without you stored extra parameters. It will allow to enforce integrity of your extra parameters. (Enable only in development])

**Disabled:** You will not receive any exception if you don't provide extra params, will just strip out from the parsed text the `{extra.

[2015-10-08 19:45] #54 closed

[2015-10-08 19:53] fenos commented on #50
With the upgrade of Notifynder I introduced `filterScopes`. Filter scopes allow you to customise some of the queries that Notifynder run when get data.

I already created a **byCategory** scope into **Notification** Model, so you can use it like so:

[code]

The **byCategory** method it's just a **queryScope** of laravel Models. You can create as many as you want.

Just create a **custom Notificat

[2015-10-08 19:53] #50 closed

[2015-10-08 19:58] fenos commented on #49
Close for inactivity

[2015-10-08 19:58] #49 closed

[2015-10-09 18:14] AbdullahGhanem commented on #56
yes, thanks alot fenos

[2015-10-09 18:27] AbdullahGhanem opened #57 "What is the benefit of from_type and to_type ?"
What is the benefit of from_type and to_type in notifications table ?

[2015-10-09 21:32] fenos commented on #57
Well, if you think that other your models need to send/receive notifications between them, then the `type` of the receiver/sender will gather the context of your model.

An example: Facebook Users and Pages. If you notice, Facebook pages might receive notifications from users, and users can receive notifications from (Facebook entity) pages.

Using Notifynder as "polymorphic" it's more flexible to

[2015-10-09 21:32] #56 closed

[2015-10-10 01:27] AbdullahGhanem commented on #57
that's awesome thanks fenos

[2015-10-10 09:02] fenos commented on #57
no problem any time

[2015-10-10 09:02] #57 closed

[2015-10-16 08:45] jbajou opened #59 "Is there a way to handle preferences ?"
Hello,

I would like to know if there is a way to store user preferences regarding notifications ? (which notifications the user wants to get and which he doens't)

Thanks

[2015-10-16 08:58] WhiteHatCoder opened #60 "Multiple extra parameters not working"
When I set extra multiple parameters the first one is resolve but the others fail with an error 'the following [$replacer] param required from your category it's missing. Did you forget to store it?'

[2015-10-16 12:03] jbajou commented on #60
Same here, the first parameters is resolved, everything else is just replaced by nothing. Extra column looks fine in the notifications table

[2015-10-16 13:01] fenos commented on #60
Thanks guys, to let me know I'm going to send a PR today sometime

[2015-10-16 14:01] fenos commented on #59
Hi @jbajou, Notifynder doesn't provide it out of the box but it's achievable easilly, If you need to send a single notification at the time, otherwise can be a bit tricky do that efficiently for multiple notifications.

For the single notification here a  quick example:

create a table `user_notifications_category` will be a pivot table between `users` and `notification_categories` as following:

[2015-10-16 14:07] okaufmann commented on #60
@fenos yaw ;)

[2015-10-16 14:26] fenos commented on #60
I merge the PR #58 it solve this issue, thanks again @okaufmann also made a simple unit test that make sure that they are  parsed as expected.

Just composer update to version 3.1.1. Let me know if that worked

[2015-10-16 19:47] AbdullahGhanem opened #61 "how can notification readOne() ?"
in notifications table

id | form_id | to_id | category | url
-- | ---------- | ------- | ----------- | ---
1 | 5 | 2 | 1 | http://site.dev/question/99

i want when user(to_id) visit question(99) readOne
how get notification-> id ??

in my QuestionCntroller

[code]

but you dont use elquent

[2015-10-16 21:37] fenos commented on #61
Hi @AbdullahGhanem, I remind you that all the models that **Notifynder** use are available for you.
use the Model `Fenos\Notifynder\Models\Notification` so that it use eloquent.

something like that:

[code]

[2015-10-16 21:39] #60 closed

[2015-10-17 04:53] okaufmann commented on #60
Np ;)  Thanks for your great Package !

[2015-10-17 06:19] AbdullahGhanem commented on #61
thanks

[2015-10-17 08:24] #61 closed

[2015-11-13 12:04] fenos commented on #59
close for inactivity

[2015-11-13 12:04] #59 closed

[2015-12-11 13:41] apurva2342 opened #62 "Class 'App\Http\Controllers\Notifynder' not found"
I did all the prerequisites. But when I use

 Notifynder::category('another')
                   ->from($user_sender_id)
                   ->to($user_receiver_id)
                   ->url('http://localhost')
                   ->send();

It throw this error - Class 'App\Models\Notifynder' not found
What could be the fault?
Also I would like to see a demo code. Is there any?

[2015-12-11 18:33] fenos commented on #62
I believe you didn't import notifynder Facade at the top. use Notifynder;

I might create an example repo in this weekend, if i'll be free.
Let me know if importing notifynder at the top will solve your issue.

[2015-12-11 19:59] apurva2342 commented on #62
Thanks for response.
I've already added it on the top
but use Notifynder?

its use Notifable;  (as per the documentation)

[2015-12-13 12:03] fenos commented on #62
The issue it's not clear enough to give you a detailed answer. The title say a different things then you description which confuse me.

The title exception occur because you didn't import **Notifynder** facade in your controller.

The description exception might occur when you set up a wrong model in the configuration.

Try to be more descriptive for a more precise answer

[2015-12-13 12:03] #62 closed

[2015-12-16 08:55] baylonedward opened #63 "Is this usable with Laravel 4.*"
Is this usable with laravel 4.*.
If yes is the implementation and installation the same?

[2015-12-16 10:29] fenos commented on #63
Hello @baylonedward, The Laravel 4 branch is available which is on `v 2.*`, but it has got few bugs that has been solved on the `v3.*` (Laravel 5). Maintaining 2 repos it's not easy specially for older version of the framework. I Strongly suggest to try it out and if you meet any bug on the `v2.*` you can fork it and fix the bugs looking at the current code base. I can't guarantee fully support fo

[2015-12-16 10:29] #63 closed

[2015-12-27 11:29] TheAliAbbasi opened #65 "Error on installing Notifynder on Laravel 5.2"
when I try to vendor:publish, I get following error
[Symfony\Component\Debug\Exception\FatalErrorException]

  Call to undefined method Illuminate\Foundation\Application::bindShared()

[2015-12-27 12:36] okaufmann commented on #65
This will be fixed with pull request #64

[2015-12-28 05:11] Maxime-BHA commented on #65
:+1:

Merged this and tagged it to 3.1.2 :)

[2015-12-28 05:11] #65 closed

[2015-12-29 09:31] saqueib opened #66 "How can I get only some columns of users table"
I have a big users table with which has many columns which are not required for notification.

how can i define the columns i need, like `username, id, and avatar`, I have an API which is returning notification for user.

[2015-12-29 16:08] fenos commented on #66
That's a good question, I would suggest to use the `$filterScope` param in your query methods. It's a new feature of Notifynder that will help you to extend the default query behaviour. It will look something like this:

[code]

I didn't test it, but i believe that might work. Let me know if that solve your problem

[2015-12-30 03:28] saqueib commented on #66
Thanks @fenos, I got it working with you snippet, it worked by using

`$fromQuery->addSelect('username','id','avatar');`

Only `select()` was returning everything :+1:

[2015-12-30 13:02] fenos commented on #66
Great!

[2015-12-30 13:02] #66 closed

[2016-01-01 05:09] kenfu opened #67 "Grouping Notifications"
User X liked your photo.
User Y liked your photo.

TO:
User X and User Y liked your photo.

OR:
3 users liked your photo.

http://codegains.com/2014/11/laravel-4-notification-system-tutorial-part-3-preparing-to-group-notifications/

How Do it?

PS：
2014_08_01_210813_create_notification_groups_table.php
2014_08_01_211045_create_notification_category_notification_group_table.php

No use in these two

[2016-01-01 05:25] kenfu commented on #21
Now is Notifynder 3 :smile:

[2016-01-01 07:11] Maxime-BHA commented on #21
@fenos shall we ?

[2016-01-05 14:18] fenos commented on #67
Thanks for reporting this, Notifynder actually doesn't provide this functionality, I will studying something about it and try to implement it when i have a bit of time

[2016-01-05 14:20] fenos commented on #21
I think it will be fine to upload a tiny app with Notifynder installed and 3 / 4 url entry points where we show how the notifications are sent, retrieved and readed. I'll address this to you @Maxime-BHA if you have time or i'll do it next week

[2016-01-05 22:00] computerfr33k opened #68 "Using loop method"
How can I use the $this->notifynder->loop?

Can't figure out what class that variable is referencing from the docs.

[2016-01-05 22:14] computerfr33k commented on #68
Nevermind, found that there is a builder function in the Notifynder facade.

[code]

[2016-01-05 22:22] fenos commented on #68
The method **loop** of Notifynder is very useful when you have to send multiple notifications at once,
ex: all users of a conversations.

it want as first argument a **iterable** value such as an `array` or a Collecton.
as second value needs a closure which will internally loop trough the first argument and generate the correct data to send them in a batch or (in 1 insert).

[code]

that will send

[2016-01-05 23:23] computerfr33k opened #69 "Use Notifynder Builder with Custom Sender"
So i made a custom sender for notifynder, but it only works when using it with the Facade
[code]
but if I use it with the Builder
[code]
Then I get the error
[code]

Is there a way that I'm supposed to register it with the NotifynderBuilder somehow?

[2016-01-05 23:56] computerfr33k commented on #68
hmm, seems like this doesn't work when using
[code]

[code]

[2016-01-06 08:54] fenos commented on #68
Of course because you don't have to use the builder, use the facade directly Notifynder:loop

[2016-01-06 17:56] computerfr33k commented on #68
Still strange that the builder would complain about the default send function being undefined. Unless there is a different way for getting the builder instance other than using `Notifynder::Builder()`
But I guess I'll use the Facade in the meantime

[2016-01-06 19:37] fenos commented on #68
I believe you miss understood the concept of the builder, maybe with this example will make it clear:

[code]

In the documentation i use `$this->notifynder` expecting that the end user will understand that has been injected into the **constructor**, i really don't like using Facades into my code, but for documentation is very clear.

[code]

Notifynder extends the **Builder** class so that's why

[2016-01-06 19:42] fenos commented on #69
Same thing of issue #68 the builder will only compose the array of the notifications let Notifynder figure out how to send them.

[2016-01-06 19:42] #69 closed

[2016-01-06 20:09] computerfr33k commented on #68
OK, makes sense for me now, Thanks!

[2016-01-06 20:09] #68 closed

[2016-01-07 15:34] computerfr33k commented on #69
So I have this currently for my custom sender and I was wondering if it was possible to get the parsed text from the notification where it replaces the extra attribute from the category text. I would like this so that I don't need to manually replace the text myself in the `sendPushNotification()`. Because I noticed it is parsed and available when using the `$user->getNotifications();` Trait.
[cod

[2016-01-07 19:39] fenos commented on #69
@computerfr33k very good you are almost there, try to edit your `sendPushNotifications` like so:

[code]

[2016-01-07 20:42] okaufmann opened #70 "[Suggestion] Total unread in Paginator when call getNotificationsNotRead"
Wouldn't it be useful to be able to get the total of unread notification (regardless which category) when call the getNotificationsNotRead?

This would save us one call of countNotificationsNotRead if we want to display the total count of messages.

[2016-01-07 22:08] okaufmann opened #71 "[Request] Send once functionality"
When I use notifications for notify a user when another started following him/her then the other user could follow and unfollow much times. But every time he start follows a notification will be created. That would be a very easy way to spam users. Due to that it would be great to have a sendOnce method or a possibility to mark a category as "once notifiable".

What do you think?

For now solved i

[2016-01-08 02:25] computerfr33k commented on #69
It worked except for the loading of category
[code]
But I didn't need it anyways since i only needed to user and message.

Thanks again

[2016-01-09 11:09] mxmtsk commented on #67
+1 I would appreciate an approach to this!

[2016-01-09 12:52] mxmtsk opened #73 "How to get category name when iterating over notifications"
Hi,

I'm trying to get the category name when iterating over notifications in my view. I'm pretty sure there's an easy way to achieve it but everything I've tried is not possible. I'm using this to get the notifications:

[code]

Thanks

[2016-01-09 14:16] fenos commented on #73
Hi @mxmtsk, did you tried? :

[code]

let me know if that helps

[2016-01-09 14:17] fenos commented on #71
Yes your scenario and solution make sense to me, i'll definitely want the sendOnce sender available on Notifynder

[2016-01-09 14:18] mxmtsk commented on #73
Awesome, thanks, that's something I did not found in the wiki (or I wasn't reading well enough)!
I tried $notification->category->name

[2016-01-09 14:22] fenos commented on #73
that's true, I really would like have the time to make a decent documentation for Notifynder, maybe soon :) by the way, looking the code also in another way to learn the library.

I'm here by the way for any question.

[2016-01-09 14:22] #73 closed

[2016-01-15 18:57] computerfr33k opened #74 "Length Aware Paginator"
Was wondering how I might be able to implement this since i am using fractal for transforming responses and when I use the paginator response it complains about the class not being length aware. I tried changing it to be length aware, but can't seem to find where to do it.

[2016-01-15 19:24] computerfr33k commented on #74
I made the following change just for the meantime in NotificationManager

Let me know if there might be a more efficient way of retrieving the total without needing another query.

[code]

[2016-01-18 16:30] Gummibeer commented on #74
This should work `$total = $notifications->count();`.

[2016-01-18 19:42] computerfr33k commented on #74
that will only count how many records are in the collection and not the total amount that actually exist or can be returned, from my understanding the length aware paginator needs to know the total amount of records that can be returned.

[2016-01-18 21:51] computerfr33k commented on #74
alright, I have done some further investigation and refinements and have narrowed it down to this, any thoughts about this: https://gist.github.com/computerfr33k/c98d0ac0002cd4dfbc14

Not sure if the maintainer would be willing to switch to a length aware paginater or somehow be able to specify if you want a length aware one or not.

[2016-01-18 22:01] Gummibeer commented on #74
Ok, can you create a pull-request? And i've searched a bit and doesn't found any disadvantegas of the LengthAwarePaginator - do you know any? If not I will Support this change in the Main-repo! :+1:

[2016-01-19 18:21] computerfr33k commented on #70
This should be able to happen when using a length aware paginator. I made pr #75 for doing this.

[2016-01-25 15:04] fenos commented on #74
Thanks guys, for the suggestion and the PR, i would make happy everyone, so that who want to use the `Normal Paginator` and the `LengthAware` Paginator. To achieve that i will create another configuration option in config/notifynder.php where you can set your default Paginator. Stay tuned it will be release it this week

[2016-01-27 15:59] Maxime-BHA commented on #74
@fenos Just passing a new parameter in the config file and check the configuration in the Manager and passing it to the Repository would be enough, wouldn't it ?

[2016-01-30 16:11] fenos commented on #74
@Maxime-BHA Yes that's how i would do it

[2016-02-01 19:25] alariva opened #77 "How to run tests (phpunit)"
Hi, I'm new to package development and this question might not be exactly Notifynder exclusive, still, I believe you could answer easily and I might jump into some development for Notifynder.

I'm trying to run phpunit with no success. I'm not sure if I'm doing it the correct way in order to have the test suites executed.

[code]

Thanks in advance for any help on this! :)

[2016-02-01 19:46] fenos commented on #77
@alariva thanks for reporting this, try to run `composer dump-autoload -o'  (just once) then run phpunit. Let me know if that worked. I believe composer can't recognised few classes, i will go trough them and check if they respect correct namespace

[2016-02-01 20:07] alariva commented on #77
Thanks for the prompt reply!

I thought that `composer install` would do the `dump-autoload`, but not sure.

This is the output, seems it persists.

[code]

[2016-02-01 21:09] fenos commented on #77
Mmh strange, can you try then to run:
vendor/bin/phpunit

I just did the same in my machine and it passed to green, after the dump-autoload

[2016-02-01 21:15] alariva commented on #77
That did the trick ;)

Thanks!

[2016-02-01 21:15] #77 closed

[2016-02-04 11:24] borz93 opened #78 "getNumberNotification on a particular category"
Hi!
When I try to get a category notifications,  really I dont know how to use the parameter $filterScope
I try this:
`public function getNumberNotification($category = null)`
 `{`
        `$currentUser = Auth::user();`
        `$filterScope = function() use ($category){`
            `return Notifynder::category($category);`
       ` };`
        `return $currentUser->countNotificationsNotRead($fil

[2016-02-04 12:00] fenos commented on #78
Hi @borz93 try to do as following:

[code]

[2016-02-04 12:09] borz93 commented on #78
Okey, I try this, and same result.

`public function getNumberNotification() {`
        `$currentUser = Auth::user();`
        `return $currentUser->countNotificationsNotRead( $limit = null, $paginate = null, $order = 'desc', ``function($query) {`
            `$query->byCategory('messages.alert');`
        `});`
    `}`

If I put a category that does not exist, it returns all equally.

[2016-02-04 12:22] fenos commented on #78
@borz93 Sorry, my bad i got the wrong method try this:

$currentUser->countNotificationsNotRead(function($query) {
    $query->byCategory('yourcategoryname');
});

[2016-02-04 12:35] borz93 commented on #78
Thanks @fenos ,but same. This is my controller (for `@inject` blade use)
![request](https://cloud.githubusercontent.com/assets/11414678/12815080/1c1ce464-cb44-11e5-92f3-a68241126444.png)

[2016-02-04 12:57] bsh314 commented on #78
Same here, no documentation for this feature

[2016-02-04 17:16] borz93 commented on #78
Any idea? How it works $filterScope argument?

[2016-02-06 13:15] fenos commented on #78
The `$filterScope` param is a Closure which allow you to extends the default queries of `Notifynder` ex:

[code]

This would just work fine for you, because you are extending the default query for your own needs (**filtering by category**)

[2016-02-08 10:29] borz93 commented on #78
Hi @fenos, thanks for reply. I made my own notifications system .Anyway, I tried your last answer and understand well the concept of `$filterScope`, and worked well. Thanks for you time and work!

[2016-02-08 10:29] #78 closed

[2016-02-18 18:18] computerfr33k commented on #74
Any progress on the code you were planning on releasing?

[2016-02-20 12:14] Maxime-BHA commented on #74
@fenos If there are no news on fenos side, i'll try to make it ;)

[2016-02-20 17:23] msieprawski commented on #49
@fenos I think that creating extra table just to store one user is not a good solution. I need to create "system" notifications.

[2016-02-23 16:01] koichirose opened #79 "Weird issue with filesystem caching (translations)"
Hello!
I'm having trouble using translations, it seems that the path gets messed up when saving the cached translations file:
`ErrorException in Local.php line 95: mkdir(): Permission denied

    in Local.php line 95
    at HandleExceptions->handleError('2', 'mkdir(): Permission denied', '/var/www/project.website/vendor/league/flysystem/src/Adapter/Local.php', '95', array('root' => '/var/www/proje

[2016-02-23 16:25] eleftrik opened #80 "php artisan notifynder:push:category"
Can you please provide an example about this artisan command?

    php artisan notifynder:push:category

I couldn't make it work.

What I have done:

    php artisan notifynder:create:group foo.messages
    php artisan notifynder:create:category foo.messages.new "You have a new message from {extra.username}"

Then I run

    php artisan notifynder:push:category foo.messages --categories=foo.messag

[2016-02-23 16:59] koichirose commented on #79
Sorry, my mistake, I set the 'local' filesystem to the public_path instead of the default.
I switched back and use the public_path manually when needed.

[2016-02-23 16:59] #79 closed

[2016-02-23 23:53] Gummibeer commented on #49
@fenos This feature would be great - I've solved it by the `0` value solution. But it would be great if it's possible to don't use the `from()` method. Or have a alternate method like `system()` that calls the from method with `null` or `0` or whatever.
Or having a default value for the System-User in the Config, like `system_value` where any kind of allowed value can be placed - so it is possible

[2016-02-23 23:57] Gummibeer opened #81 "Adding Categories via migrations"
Is it possible, or would it be, to add Categories in migrations and not just artisan commands? Cause on a growing app it would be great if it is possible to create categories in migrations where all the other features are added and not via artisan commands that aren't called in a productive system.

[2016-02-24 07:20] eleftrik commented on #81
Of course you can. Write your own seed and create new records using Eloquent (better) or Query Builder

    use Fenos\Notifynder\Models\NotificationCategory as NC;
    ...
    ...

    NC::create([
        'name' => 'app.messages.new',
        'text' => 'You received a new message from {extra.from}'
    ]);

[2016-02-24 08:17] eleftrik commented on #80
@fenos Is there any example? Sorry to bother you, I need to use this package in a project that's to be released in a production environment as soon as possible. Thanks for your support!

[2016-02-24 10:51] fenos commented on #80
@eleftrik Sorry that you met this bug, I verified it and fixed. Try to update Notifynder to the next version with a composer update. The command should then work.
Let me know if we can close it

[2016-02-24 11:50] eleftrik commented on #80
Thank you @fenos. I tried to update, but I can't make it work, my fault.
If I run

    php artisan notifynder:push:category foo.messages --categories=foo.messages.new

...I got

    [ErrorException]
    explode() expects parameter 2 to be string, array given

Can you please provide an example?
Thanks

[2016-02-24 11:59] eleftrik commented on #80
In fenos\notifynder\src\Notifynder\Artisan\PushCategoryToGroup.php

if I change

        $categoryGroup = array_shift($arguments);
        $categories = explode(',',$arguments);
to

        $categoryGroup = array_shift($arguments);
        $arguments = $arguments[0];
        $categories = explode(',',$arguments);

then it works.

[2016-02-24 12:01] eleftrik commented on #80
How groups can be used? I couldn't find any reference in the Wiki.

[2016-02-24 14:45] fenos commented on #80
@eleftrik Ops, i think i forgot to add the [0] index, to $arguments how you mentioned.

The groups in Notifynder allows you to send many notifications to a target/s.
So for instance if you want to send 2 or more notifications at the same time to one user you would do:

[code]

I never found a use case in my application yet, where I have to send multiple notifications to the same user, but the func

[2016-02-24 15:30] eleftrik commented on #80
@fenos Thank you so much for your support.

I've another question (a little off-topic), how can I use translations?
I've setup the 'translations' array in config/notifynder.php, but I can't figure out how to use it, which method to call while inserting/sending a notification, etc.

Thanks

[2016-02-24 15:37] eleftrik commented on #80
Oh, I figured it out:

    $n = $user->getNotificationsNotRead()->translate('it');

[2016-02-25 11:42] #81 closed

[2016-02-28 10:06] sekretuser opened #82 "How to show the notification on my blade.php view"
Can anyone be kind to show me how to use this notification at my blade.php views.

[2016-02-29 09:31] fenos commented on #82
Hi @sekretuser, after you setup the package you can pass the notifications to the as following, (the example will use your user logged).

[code]

Hope it helps

[2016-02-29 20:02] AdrianSilaghi opened #83 "Displaying notifications"
How can I display the notifications? I get the notifications collection but from there I don't know how to display the.

[2016-02-29 23:22] #83 closed

[2016-03-01 08:32] eleftrik opened #84 "URL nullable?"
I think the URL field should be nullable.
I have some notifications which don't require the user to be redirected to an URL.
At the moment, I'm setting the URL to an empty string.
Thank you

[2016-03-01 12:12] fenos commented on #84
Thanks for your feedback, Notifynder try to be as generic and extendable as possible. For custom cases and custom scenarios Notifynder allow you to be personalised as needed.

For example if in your case you need the url as nullable then create a migration that make the field nullable.

The only current limitation is the builder which is not very extendable for your case and it require a url. I wi

[2016-03-01 12:36] eleftrik commented on #84
Yes, at the moment I think I'll create a migration to make that field nullable.
Thanks for your feedback.

[2016-03-02 09:59] Gummibeer commented on #84
I solved this problem by using `#` as the url to prevent html using the current url. But nullable would be great and it won't break anything if the field is nullable in the package migrations.

[2016-03-09 12:33] nashsaint opened #85 "Undefined Method getNotificationsNotRead()"
I am able to send notification but failed to retrieve.  Here's the error:

BadMethodCallException in Builder.php line 2025:
Call to undefined method Illuminate\Database\Query\Builder::getNotificationsNotRead()

used Notifynder

[2016-03-10 06:50] sekretuser commented on #82
@fenos thanks bro for reply.
Help me a lot...

[2016-03-10 09:14] fenos commented on #85
Can u please show how you call the getNotifications method? Did you use the trait into your model?

[2016-03-10 17:25] jbajou opened #86 "How translations are working ?"
Hello,

Sorry but I can't figure out how are translations working...

I have filled the translations array in the config file as follow:
`'translations'  => [
		'fr' => [
			'group.like'	=> "{from.firstname} {from.lastname} a aimé votre message '{extra.post_title}'"
		]
    ],`

`group.like` corresponds to the name of a notification category form the `notification_categories` table

I'm accessing

[2016-03-11 16:10] fenos commented on #86
You have to chain the translate method on your collection:
`$user->getNotifications()->translate('fr');`

does this help?

[2016-03-14 15:31] eleftrik opened #87 "Page numbers in pagination?"
I can't figure out how to use pagination showing page numbers.
What I did:

        $page = Input::get('page', 1);

        $notifications = Auth::user()
            ->getNotifications(10, $page, 'desc');

        $pagination = $notifications->render();

        $notifications = $notifications->translate(App::getLocale());

        return view('my.view.etc', compact('notifications', 'pagination'))

[2016-03-14 23:26] #74 closed

[2016-03-14 23:27] fenos commented on #74
Sorry guys, to take so long to merge this, i been very busy with my current job. Hope to give more attention to Notifynder in the next weeks

[2016-03-14 23:32] fenos commented on #87
I just merged the a PR that is going to fix this issue, by default now we are expecting to have pages and cursors, with the LengthAwarePaginator

[2016-03-14 23:32] #87 closed

[2016-03-14 23:32] #82 closed

[2016-03-14 23:37] #80 closed

[2016-03-15 08:21] eleftrik opened #88 "3.1.4: getNotifications($limit) doesn't work anymore"
Before version 3.1.4:

    Auth::user()->getNotifications(3);

the $limit parameter worked as expected; now $limit seems to be ignored.
To make it work, I have to pass $pagination parameter also:

    Auth::user()->getNotifications(3, 3);

Thank you

[2016-03-15 09:45] fenos commented on #88
Thanks for reporting the issue, I appreciate. I sent a fix with the tag 3.1.5 let me know if now the $limit argument works.

[2016-03-16 16:59] jbajou commented on #86
It does. Thanks.

I didn't see that in the documentation though...

[2016-03-16 16:59] #86 closed

[2016-03-17 15:08] hopewise opened #89 "lumen?"
Any idea how to use it with Lumen 5.1.*?

[2016-03-18 18:23] #88 closed

[2016-03-21 06:47] Tjoosten opened #92 "read status on notifications?"
How can i set a status to the notification. example 'user have read this notification.'

[2016-03-21 10:16] Gummibeer commented on #92
`\Notify::readOne($notificationId);`
`\Auth::User()->readAllNotifications();`

[2016-03-21 16:29] Tjoosten commented on #92
But how can i run this then with multiple id's?

example: `(array) $request->get('notificationIds')`

[2016-03-21 17:05] fenos commented on #92
@Tjoosten Notifynder doesn't provide the method `readNotificationsByIds()` it is a good add on for a next version.

At the moment keep in mind that you can use the `Notification` model to make any query that you want, for example in your case i would do as following:

[code]

[2016-03-21 17:33] Tjoosten commented on #92
@fenos @Gummibeer Thx for the support. Keep up the good work.

[2016-03-22 00:03] #92 closed

[2016-03-23 10:15] Tjoosten commented on #21
@fenos If you want i can write a demo page tonight!

[2016-03-23 10:23] fenos commented on #21
@Tjoosten Would be amazing if you have the time for it, so we make some user happy :+1:

[2016-03-23 20:29] Tjoosten commented on #21
Alright i started working on it.

[2016-03-23 23:09] Tjoosten commented on #21
@webcrazy @fenos whut guys want to see to be covered in the demo?

[2016-03-24 12:44] fenos commented on #21
@Tjoosten I think the following would be enough:

- Send single notification
- Send Multiple Notifications
- Send Polymorphic Notifications
- Retrieve Notifications
- Retrieve notification filtering by category
- Read Notifications
- If you have any others ideas just add them

Thanks again for the effort

[2016-03-24 15:12] eleftrik commented on #21
@fenos IMHO something about translations would be useful

[2016-03-29 15:38] hopewise commented on #89
Ok, I just needed to register 'path.config', and copy the notifynder config file to app config dir

`$app->instance('path.config', realpath(__DIR__.'/../').DIRECTORY_SEPARATOR.'config');`

[2016-03-29 21:48] InWave commented on #67
+1 I would also like to see something like this, would help to kill information overload for my users.

[2016-04-09 14:04] Tjoosten opened #94 "error:"
I try to build the example in my new website. But for some reason i got a strange error that i can't fix.

error: https://gist.github.com/anonymous/892899800095f979b540bab64efe181f
testcase: https://gist.github.com/anonymous/1ea00b96aca4738940f6ecc79d9f1ad4,
controller: https://gist.github.com/anonymous/d8e2979a7c624db9e8d6cbec978bb32a
test factory: https://gist.github.com/anonymous/12fd83b5000efc

[2016-04-09 14:18] fenos commented on #94
Hi @Tjoosten, I saw what cause the error on your controller, the **loop** method of Notifynder wants an iterable value such as an array or collection. You are passing $user which is not iterable. Hope it helps. I'm with my phone can't show code

[2016-04-09 22:06] Gummibeer commented on #94
Like @fenos said. But there are also dome other things.

To validate you can/should use FormRequests, bring the data on the model you can simply use `fill()` `create()` or `update()`. Do this can be a one line: `$rental = Rental::create($request->only([...]);`. In addition I'm asking me  how the $status and $content are matching and what you try to achieve with the count() method on a single model

[2016-04-09 23:16] Tjoosten commented on #94
@Gummibeer there is no hint "like a contribution file" that said this is forbidden in this bugtracker;

- No offence

[2016-04-15 08:33] BlueTeck opened #95 "[Idea] 3rd notification object"
Hi,

first I want to thank you for this package.

But recently I missed a third parameter additional to "from" and "to". I know that there is the extra column, but it would nice to have a new colum with the related object.

Example:

blueteck added fenos to project fenos/Notifynder/
{from.name} added {to.name} to project {related.name}

Regards,
Timo

[2016-04-15 09:15] Gummibeer commented on #95
But this is too project related - so it's no problem to solve it by the extra column. But in other projects you have no or multiple related objects. WHat do you want to do if it's " {from} added you to following projects: [list of n projects]"? There are too many usecases with different signatures that it's not good to implement them all in another way than the `extra` field.
But if you want it yo

[2016-04-15 10:39] BlueTeck opened #96 "[Question] Why are the categories stored in DB?"
Hi all,

just a little question:

Why are the notification categories stored in the database and not in a config file or class/model, even if the translations are defined in the config file?

The category_id in the notifications table could be changed to the "technical" categorie name.

Regards,
Timo

[2016-04-15 11:21] Tjoosten commented on #96
DB table: `notification_categories`
`

[2016-04-15 11:32] Gummibeer commented on #96
Cause with the DB behind you can work with models, relations, foreignkeys and so on. And the translations are in the config file cause translations in laravel are file based - there is an open issue #72 that discuss the transfer to the normal laravel translator. If you want to use a db side translator cause the entities are in the db you can use a package like https://github.com/dimsav/laravel-tra

[2016-04-15 11:49] BlueTeck commented on #96
@Tjoosten  that was not the question ;)

@Gummibeer there is no foreignkey used, but you are right, you have a model out of the box, I didn't thougt about that. I find it strange that you define the categories in the database (or migration/seed) instead of the application source :confused:

[2016-04-15 12:38] Gummibeer commented on #96
@BlueTeck you can define them in your source - write a migration and create them. Or if you like/love configs create a seed that creates all categories placed in your config.
But with this way you are free to create them how ever you want - but data shouldn't beread from your app source code. If you have everything clean in your DB you know where you have to search and can simply manipulate them.

[2016-04-17 09:03] BlueTeck commented on #95
Thanks. I build my own Methods :)

[2016-04-17 09:18] #95 closed

[2016-04-17 09:18] #96 closed

[2016-04-17 18:22] rguedes opened #97 "Notifynder not compatibility with Laravel 5.0, only 5.1 and 5.2"
5.0 require php > 5.4
5.1 and 5.2 require >5.5.9

Notifynder require 5.5.9, so only works with 5.1 and 5.2

[2016-04-17 18:22] rguedes commented on #97
typo

[2016-04-17 20:15] Tjoosten commented on #97
I think it is useless to support Laravel 5.0. because i think there the Laravel group stopped supported 5.0

[2016-04-17 22:54] rguedes commented on #97
I know, but in Notifynder package.json:
`
"require-dev": {
    "laravel/framework": "5.0.*",
`}

So, is a mistake?

[2016-04-18 06:37] Tjoosten commented on #97
I think this is a forgotten thing in the plugin. So it could be a mistake.

[2016-04-18 07:44] #94 closed

[2016-04-19 10:57] fenos commented on #97
This is partially right, Notifynder is compatible with Laravel 5.0/5.* if your php version is >5.5.9. Like me in the past i was using using laravel 5.0 with the latest php version. There might be folks using the library in laravel 5.0 with a new version of php. So the composer.json might look in this way (correct me if i'm wrong)

`"require-dev": { "laravel/framework": "5.0.* | ~5.1" }`

[2016-04-19 11:01] fenos commented on #96
@Gummibeer explained very well, thanks.
@BlueTeck Foreignkeys are used in the migration: https://github.com/fenos/Notifynder/blob/master/src/migrations/2015_05_05_212549_create_notifications_table.php#L28

[2016-04-19 11:37] BlueTeck commented on #96
@fenos I overlooked that.

[2016-04-19 11:37] Gummibeer commented on #97
@fenos: Don't know why Laravel 5.0 should be fully supported? Cause it's something like the "pre-alpha-dev" version for Laravel5. There are a lot of bugs, no real updates/support, most of the packages are supporting Laravel4 and/or >=Laravel5.1 - Laravel5.1 is the LTS version and Laravel5.2 the current active one - Laravel5.0 is just a step between 4 and the first LTS.
~ end of my opinion ~

Now t

[2016-04-19 12:09] Gummibeer opened #100 "Add Github oAuth token to travis"
The log for all builds says in the composer section:

With an oAuth token for travis this can be solved: https://blog.wyrihaximus.net/2015/09/github-auth-token-on-travis/

[2016-04-19 15:25] Gummibeer commented on #67
Protocol of chat (larachat.slack.com) with @fenos:

[code]

    this will offer a lot more options (edited)

    fenos [4:52 PM]
    but is not necessarily the case, where we send 4 notifications at the time and we create the group notification there (would also be impossible to translate)

    think about a user follow you
    3 minutes later another user
    3 minutes late another user

    thos

[2016-04-19 15:29] Gummibeer commented on #97
After the PR #98 is merged I think that this issue is also closed!?

[2016-04-19 15:29] #97 closed

[2016-04-19 15:33] Gummibeer commented on #71
Like in the protocol in #67 : this will be implemented very similar to what @okaufmann has posted. The only thing that will be added is some kind of configuration for what makes a notification unique.
Cause in some cases it's the combination of from and to in others the read status is also important and so on.
And anykind of configuration for "what to do with resended notifications" will also be g

[2016-04-19 16:19] Gummibeer opened #103 "Add stack_id to identify a "Stack" of Notifications"
**Case:** We send multiple notifications at once and if one notification get's read by a user all notifications in this Stack should get read. To identify the other notifications a `stack_id` would be good to identify all notifications send at once.

This can also help for #67 to group them by Stack for an admin view for example where just single stacks get displayed.

[2016-04-19 17:28] Gummibeer commented on #67
**Idea:**
_category based:_
[code]
case based:_
[code]

[2016-04-19 18:35] fenos opened #105 "Allow Notifynder builder to add custom data"
At this stage NotifynderBuilder doesn't allow easily to add custom values for custom columns into the `notifications` table. That is caused from the `setBuilderData` to be protected.
Once the function will be publicly usable, the developer will have the opportunity to extend the table (if needed).

Another move related to this issue, will be to have a minimal **required** validation on this new cu

[2016-04-19 19:41] Gummibeer commented on #84
pls use the `getRequiredFields()` method in the exception message after merging the PR #106

[2016-04-20 15:11] Gummibeer commented on #70
#75 is merged so this issue is done/closed!?

[2016-04-20 15:11] #70 closed

[2016-04-20 15:12] Gummibeer commented on #21
Does something new happened here? If yes or also not: you can join us now in [Slack](https://notifynder.signup.team/) for discussion.

[2016-04-20 15:15] Gummibeer commented on #29
There are a lot of wiki pages - is the move to the wiki finished? If yes, could this issue be closed!?

[2016-04-20 15:17] Gummibeer commented on #100
Ok, all the last Travis builds doesn't have this problem.

[2016-04-20 15:19] Gummibeer commented on #89
@hopewise Was this everything you have to do? Your last answer sounds like a solution - would be super great if you can add the lumen installation instructions to the wiki!?

[2016-04-20 15:19] #89 closed

[2016-04-22 11:13] Gummibeer commented on #105
PR #106 is merged so this is done & closed

[2016-04-22 11:15] Gummibeer commented on #84
PR #104 is merged - so this is done.

[2016-04-22 12:12] Gummibeer commented on #84
PR #108 is also merged so this issue is done and closed.

[2016-04-22 12:12] #84 closed

[2016-04-22 12:41] Gummibeer commented on #100
it will speed up the builds if it caches the composer files:
https://blog.wyrihaximus.net/2015/07/composer-cache-on-travis/

[2016-04-22 14:35] Gummibeer commented on #100
PR #109 has been merged - done & closed

[2016-04-22 14:35] #100 closed

[2016-04-26 08:17] hopewise commented on #89
Here is the steps, but I didn't have the time to test and make it official document, but you can see how I did it:

## Lumen Installation ##

### Extend Lumen Application  ###

Add this class that extends Lumen Application class:

    class Application extends LumenApplication {

    /**
     * Create a new Lumen application instance.
     *
     * @param  string|null  $basePath
     * @return voi

[2016-04-26 16:03] Gummibeer opened #110 "Allow to() & from() with Model"
Allow to put in an EloquentModel in the `to()` and `from()` methods.

[code]

[2016-04-26 18:11] Gummibeer commented on #110
PR #111 has been merged - done & closed

[2016-04-27 08:58] Gummibeer commented on #110
adding a small improvement `getMorphClass()`

[2016-04-27 09:25] Gummibeer commented on #110
PR #112 has been merged - done & closed

[2016-04-27 09:25] #110 closed

[2016-04-28 14:45] #29 closed

[2016-05-01 02:43] computerfr33k opened #113 "Error updating to v3.2.3"
I get the following output when upgrading to the latest version as of writing.

[code]

[2016-05-02 08:28] Gummibeer commented on #113
Ok, this is an error @fenos also had. But I wasn't able to reproduce it.

I will publish a fix that should fix this problem. @computerfr33k can you tell me in which file, class, method, line or something like this the error occured?

[2016-05-02 09:28] Gummibeer commented on #113
PR #114 is merged - should solve your @computerfr33k problem!?

[2016-05-02 15:35] computerfr33k commented on #113
When i/it runs artisan optimize. Not sure if there is a debug option for artisan optimize.
Now it tells me this:
`
  [ErrorException]
  array_merge(): Argument #2 is not an array
`

[2016-05-02 15:38] Gummibeer commented on #113
@computerfr33k: Ok, before I do some more blind-fixes: can you pls tell me which Laravel-Version you are using and add a full stacktrace for this exception? If there is no in the console it is in the logs.

[2016-05-02 15:43] computerfr33k commented on #113
I am using laravel 5.2, using homestead at the moment which ships with php 7. I wonder if php 7 is causing the issue as well.
http://slexy.org/view/s2sPCeDuP4

[2016-05-02 15:47] Gummibeer commented on #113
Ok, was another place - can you pls checkout the new fix: `dev-issue-113` it is untagged so pls use the dev branch.

[2016-05-02 15:56] computerfr33k commented on #113
Seems to be working now.

[2016-05-02 15:57] Gummibeer commented on #113
Great - now I'm mobile but I will Tag it if I'm home.

[2016-05-02 20:48] Gummibeer commented on #113
PR is merged and new tag is published `3.2.5` - Issue is solved and closed!?

[2016-05-02 20:48] #113 closed

[2016-05-03 09:21] KulwinderKohli commented on #9
How you solved it @tomvo

[2016-05-03 09:32] Gummibeer commented on #9
Shouldn't this be solveable by using the `array_get()` `object_get()` or my person favorite `mixed_get()` methods in the `\Fenos\Notifynder\Parsers\NotifynderParser::parse()`?

[code]

With this you can use teh dot notation in the nth-level.

**Idea:**

[code]

This doesn't handle any strict or security things, you can access every key on the `$item` but to add this isn't this hard.

[2016-05-03 10:36] Gummibeer commented on #9
PR #116 is open - this should solve the problems. Can you pls test it? `dev-issue-9` as composer version.

[2016-05-03 15:21] Gummibeer opened #117 "StyleCI for better Code-Style"
@fenos can you add StyleCI (https://styleci.io/) for a better Code-Style? I can't add it cause it's not my repo - so you have to do it. This will improve the code quality and also adds one more automatic check to PRs.
It also provides a badge for the `readme.md` and you can fix the code style with a simple PR.

[2016-05-03 16:58] computerfr33k opened #118 "Unable to send notifications"
I am getting an error saying that the fields from_id,to_id,category_id are required using this code.
This used to work before, so I am not sure why it doesn't anymore after the new version. Has something changed?
[code]

[2016-05-03 17:22] Gummibeer commented on #118
Hey,
first yes: there are some config updates but they shouldn't conflict with the sending.

First Tip: go back to Notifynder `3.1.6` this is the latest version before these updates.

Now to the solution, I will try to reproduce it and fix it after this. More details in slack.

[2016-05-03 18:24] Gummibeer commented on #118
Ok, cause you have an empty collection in the loop it throws an Exception in the `send()` method.

In PR #119 I've updated it to throw an `InvalidArgumentException` in the `loop()` method itself if it's empty.
Can you pls test it if this solves your problem (throws the right Exception) - composer version is `dev-issue-118`

[2016-05-03 19:40] Gummibeer commented on #118
**ToDo:**
* split cases
* precise Exception for not iterable
* precise Exception for empty

[2016-05-04 12:57] Gummibeer opened #120 "Upload code coverage page"
Create regularly the code coverage and make the html output visible.
If possible add a code coverage badge with: http://shields.io

[2016-05-04 12:57] Gummibeer commented on #118
PR #119 is merged - issue done & closed!?

[2016-05-04 12:57] #118 closed

[2016-05-16 05:11] azeos commented on #67
Any updates on this?

[2016-05-16 10:20] zeigen commented on #71
Is this issues supported for the current version: "fenos/notifynder": "3.*"

[2016-05-16 10:39] zeigen commented on #67
I also would like to use this necessary function.

[2016-05-16 10:42] Pandahisham commented on #67
This would be really helpful , any updates ?

[2016-05-16 10:46] Gummibeer commented on #67
It's not implented. I've posted an idea - would be cool to hear if this is the way it should work or not!?

[2016-05-16 10:48] Gummibeer commented on #71
Same here: not implented, open discussion for the idea.

[2016-05-17 09:53] Gummibeer commented on #9
PR #116 is merged - so this is done and will be closed.

[2016-05-17 09:53] #9 closed

[2016-05-17 11:42] Gummibeer commented on #117
just enable auto-merge and this will be done

[2016-05-17 11:45] Gummibeer opened #122 "Add CodeClimate for best practice reports"
I've added the code-climate config file - and it's reachable at: https://codeclimate.com/github/fenos/Notifynder/issues

Would be great if we can take a look at the issues and fix them if needed/good/possible. There are a lot of CodeStyle issues like the CamelCase rule and soem other things.

If you @fenos add it in CodeClimate you can combine travis & codeclimate for phpunit coverage reports.

[2016-05-17 15:03] Gummibeer commented on #21
I've created a public repo for this usecase: https://github.com/Gummibeer/notifynder-demo
Everyone is welcome to add some stuff.

[2016-05-17 15:23] Gummibeer commented on #122
Is the most open issue on code climate - will fix it later.

[2016-05-18 03:34] haydarai opened #125 "Non-static method Fenos\Notifynder\Notifynder::category() cannot be called statically, assuming $this from incompatible context"
I have imported the required package in the controller where I want to create a notification.

I import it using this code snippet:
`use Fenos\Notifynder\Notifynder;`

Then when I try to create notification with this code:
`        Notifynder::category('post.comment')
            ->from($user->id)
            ->to($post->user_id)
            ->url('http://localhost.com')
            ->extra($post-

[2016-05-18 03:37] haydarai commented on #10
@tomvo I'm experiencing the same thing, so which namespace I should import?

[2016-05-18 07:40] haydarai commented on #125
Never mind, I have figured this out.

[2016-05-18 07:40] #125 closed

[2016-05-18 07:42] Gummibeer commented on #125
Solution is to use the facade!?

[2016-05-18 08:18] haydarai commented on #125
Yeah, the solution is to use facade, my bad

[2016-05-18 09:19] Gummibeer opened #126 "Extra array is empty if you call toArray()"
reported by @haydarai

If you call `toArray()` it returns an empty instance of `ExtraParams` and no array.

[2016-05-18 11:18] Gummibeer commented on #126
PR #128 is merged and new tag released - done & closed here.

[2016-05-18 13:21] Gummibeer opened #129 "url not null exception"
[code]

[2016-05-18 13:22] #126 closed

[2016-05-18 13:28] Gummibeer commented on #21
I will close this cause a basic demo exists now with it's own repo. Following issues, ideas and so on pls in the demo repo => https://github.com/Gummibeer/notifynder-demo

[2016-05-18 13:28] #21 closed

[2016-05-18 13:29] Gummibeer commented on #117
everything done here - closed

[2016-05-19 12:14] Gummibeer commented on #129
fixed, merged, tagged, done, closed.

[2016-05-19 12:14] #129 closed

[2016-05-19 13:44] Gummibeer commented on #117
@fenos can you disable CI for StyleCI pushes!? There is an option - cause all travis builds for StyleCI PRs are failing cause the branch does not exist any more.

[2016-05-19 15:07] #120 closed

[2016-05-26 02:54] tristanbailey opened #139 "Possible typo in Facade"
on Line 319 of  Notifynder/src/Notifynder/Notifynder.php, missing s
https://github.com/fenos/Notifynder/blob/master/src/Notifynder/Notifynder.php#L319

[code]

[2016-05-30 08:15] Gummibeer commented on #139
Is fixed and PR is open. Thanks for reporting @tristanbailey ! :)

[2016-06-02 21:49] gopankombiyil opened #142 "extra replace"
How do I replace the $notifynder->extra = compact('period_day'); in blade? is there any easy way?

[2016-06-03 08:40] Gummibeer commented on #142
You mean you have the variable `$notification` (a single notification) and want to display the extra values? Or do you want to parse the message body with the extra values and display the result?

[2016-06-03 08:51] gopankombiyil commented on #142
Hello

I need to parse the message body with the extra value( only one value) while displaying result

[2016-06-03 09:05] Gummibeer commented on #142
Try `$notification->notify_body` - this contains the parsed body.
https://github.com/fenos/Notifynder/blob/master/src/Notifynder/Models/Notification.php#L147

[2016-06-03 09:28] gopankombiyil commented on #142
Worked great, Thanks a lot

[2016-06-03 09:31] Gummibeer commented on #142
No problem ;)
Solved & closed.

[2016-06-03 09:31] #142 closed

[2016-06-03 09:32] Gummibeer commented on #122
Will be done time by time - real task is done.

[2016-06-03 09:32] #122 closed

[2016-06-03 09:32] Gummibeer commented on #117
@fenos Pls do it if you have time - but I will close this issue here.

[2016-06-03 09:32] #117 closed

[2016-06-03 16:44] Riari opened #143 "Extending sender doesn't work as expected"
Hey,

I'm trying to implement email notifications based on the example in the wiki: https://github.com/fenos/Notifynder/wiki/Email-Notifications

So I'm extending Notifynder like this:

[code]

The class it's using is:

[code]

Usage is:

[code]

My understanding is that an array of Notification objects is expected to be passed to the custom sender's constructor even if it's only for a single noti

[2016-06-03 17:44] Gummibeer commented on #143
I'm totaly with you - at some points we return strange things.^^
You expect an eloquent collection or eloquent model instance!?

I will take a look at this tonight and will try to fix/update this.

[2016-06-03 17:45] Gummibeer commented on #143
As a first workaround you can create the model instance by your own.

`new Notification($array)`

[2016-06-03 18:05] Riari commented on #143
Thanks for the tip, I'll probably do that in the meantime.

I think I would expect an individual model instance in this case - I haven't used Notifynder's looping feature but I personally think it would make sense in that context too. I can't think of any reason why you'd want to do anything special with a collection as a whole, but I could be wrong.

[2016-06-03 18:40] Gummibeer commented on #143
Ok, have digged into it and everything is right: there is no model cause no sender was called and this way no model was stored. But you call the `sendOne()` before you call your own sender - the `sendOne()` returns and instance of `\Fenos\Notifynder\Models\Notification` - so you can update your sender a little bit like:

[code]

It's not tested yet but should work.

[2016-06-03 19:03] Gummibeer opened #144 "Difference between sendOne & sendMultiple"
The both send methods `sendOne()` and `sendMultiple()` are very different in the **return value**: If I send a single notification it returns the model instance if I send multiple I just get a bool.

@fenos Do you see any way to change this that both return the saved Models!? - This will also help for Issue #143 to do something with the notifications after they are stored.

[2016-06-03 19:05] Riari commented on #143
Aha, that makes sense. It works, the only difference being that the class is definitely only being sent the data for a single notification, so I don't have a loop in my send method. In case it's useful for anyone who comes looking, this is what my `EmailNotificationSender` class looks like now:

[code]

Also, there is one small oddity: `$notification->text` contains `null` when using it in the ema

[2016-06-03 19:08] Gummibeer commented on #143
Ok, can you add this class to the wiki and link this issue under it pls!? This will help others in the future.

Regarding the text & notify_body problem pls open a new issue to keep it clean but I will start research. :wink:

[2016-06-03 19:12] Riari opened #145 "$notification->text and $notification->notifyBody"
From what I can tell, these two attributes are equivalent (both contain the parsed notification category text), but `$notification->text` isn't always available. In my project, I have a simple GET route and controller method that returns a view to display a user's notifications, and I can use `$notification->text` there. However, in a custom sender class context, the 'text' property on a notificat

[2016-06-03 19:14] #143 closed

[2016-06-03 19:15] Riari commented on #143
Done and done :)

[2016-06-03 19:18] Gummibeer commented on #143
@Riari does it realy work? You call the builder with the loop method but your custom sender just handles `sendOne()`!? :confused:

[2016-06-03 19:20] Riari commented on #143
Yup, using Notifynder `3.2.9` in this project and it only seems to pass along a single notification at a time.

[2016-06-03 19:22] Gummibeer commented on #143
So if you send 3 notifications it calls your method 3 times? Strange - the code looks different and in my first test it passes all at once.

[2016-06-03 19:22] Riari commented on #143
Yeah, sorry, just edited my comment.

[2016-06-03 19:39] Gummibeer commented on #143
Related to your assume: yes that's right, you receive a multi-dimensional array like this:

[code]

I will take a look at it and update the wiki and your class to support also multiple. But this is related to #144

[2016-06-03 20:00] Gummibeer commented on #145
Ok, found the problem. In the `\Fenos\Notifynder\Models\NotifynderCollection::parse()` it assigns the values to the `text` attribute but in the model itself it uses the `notify_body` key. Will create a PR for this to make it unique.

[2016-06-03 20:12] Gummibeer commented on #145
PR is opened - now both keys should be every time present.

[2016-06-03 21:32] Gummibeer commented on #145
Can you pls test if it fixes your problem, composer version: `dev-issue-145`
https://github.com/fenos/Notifynder/pull/151

[2016-06-03 21:33] Gummibeer commented on #139
PR is merged to master - will be in next release.

[2016-06-03 21:57] Gummibeer commented on #139
Is released - v3.2.10 - https://github.com/fenos/Notifynder/releases/tag/3.2.10

[2016-06-03 21:57] #139 closed

[2016-06-03 23:18] Riari commented on #145
Yeah, that works for me.

[2016-06-04 08:05] Gummibeer commented on #145
Ok, PR is merged and tagged: `3.2.11` - https://github.com/fenos/Notifynder/releases/tag/3.2.11

[2016-06-04 08:05] #145 closed

[2016-06-04 08:18] Gummibeer commented on #144
Ok, studied stackoverflow, github and so on and there is no way to save them all in one query and retrieve the saved models/ids. :disappointed:

The question is now how we will handle this? Saving them with multiple queries to return all models and unify these methods or keep it like it is and return a bool.

[2016-06-06 17:29] whitnelson opened #153 "Pagination Issue (currentPage)"
While using the pagination feature of Notifynder, I found that it was always the case that $currentPage == 1, even on other pages (?page=2 for example). The _items_ were successfully paginating, but the **link render** was always stuck as if it was on page 1.

I found what seems to be culprit here. In the file ...

src/Notifynder/Notifications/NotificationManager.php

... on line 209 is the follow

[2016-06-07 09:15] Gummibeer commented on #153
From the phpDoc tag the `$paginate` should be an int and no bool - and it's also casted to int. But I see the problem is in the readme: https://github.com/fenos/Notifynder/blob/master/README.md#quick-usage

In my thought it should be a bool to decide to paginate or not. If it is true it should create the paginator and let the 4th parameter be null (the paginator itself parses the current page).

[2016-06-15 11:22] laoyuan opened #158 "Can sender support `from_type` and `to_type` when polymorphic?"
like this:

[code]

[2016-06-15 11:42] Gummibeer commented on #158
Take a look in the `NotifynderBuilder` class https://github.com/fenos/Notifynder/blob/master/src/Notifynder/Builder/NotifynderBuilder.php#L272

And I really recommend you to use the Builder cause this is the supported public API. And with this you simply can put in the Model object.

[2016-06-16 08:58] #158 closed

[2016-06-16 09:03] laoyuan commented on #153
`$user->getNotifications($limit = null, $paginate = null, $order = 'desc');`

It work like this:
[code]

[2016-06-16 09:11] Gummibeer commented on #153
I will take a look how we will fix it.

My first idea is to make boolean and integer possible - like:

[code]

[2016-06-16 09:34] fenos commented on #153
I don't think that Notifynder has to work the request instance.
The pagination works just fine how @laoyuan mentioned and this is the approach that i use:

[code]

[2016-06-16 09:36] Gummibeer commented on #153
But this isn't handy and the Notifynder Package hasn't to touch the Request - the `LengthAwarePaginator` does it by it's own.

[2016-06-16 09:41] fenos commented on #144
Yes, that is true. If we have to send a big amount of notifications, the right approach will be to use the batch insert for performance reason.

If the developer want to have a consistent output depending on the amount of the notifications, then `sendOne` and `sendMultiple` functions need to be used explicitly.

[2016-06-16 09:41] #144 closed

[2016-06-16 10:47] Gummibeer commented on #103
PR #135 is merged - will be tagged next monday

[2016-06-16 10:47] #103 closed

[2016-06-20 20:25] vpratfr opened #167 "Question about system/anonymous notification"
Is the package able to handle anonymous notifications?

For instance, I have jobs running every day and I want to send a notification to all administrators. In that case:

- the `$to` is the admin ID.
- the `$from` is not a user ID, just the "system"

[2016-06-21 08:46] Gummibeer commented on #167
The simplest way would be to create a system daemon user in your DB with this you can doing this behind the scene (you are also able to login with it if needed) and you can pass it as the sender of the notifications.

Another way would be to pass `0` as the sender but this will cause a `ModelNotFind` Exception if you call `from` on the notification.

In conclusion: no, this package isn't able to h

[2016-06-21 08:47] Gummibeer commented on #167
In addition, I will assign this question to version 4 and we can discuss a bit how you are thinking/wanting it to work.
If you want, it will be simpler to discuss this in our slack group: https://notifynder.signup.team/

[2016-06-21 09:03] vpratfr commented on #167
Thanks for the workaround ideas. I'll have a look at them.

Surely if that feature would be possible without any workaround, it would be ideal.

The use-case is pretty simple: some notifications are not triggered by real users. Hence it would be convenient to be able to either:

- Be able to bypass the "from" field
- Be able to have different "from" types, when the from ID would refer to different

[2016-06-21 09:06] Gummibeer commented on #167
Your second point is supported - we support polymorphic relations. So if you have a Model `System` or something like this you can enable polymorphic relations in the config and pass the System model as the sender.
https://github.com/fenos/Notifynder/blob/master/src/config/notifynder.php#L22

[2016-06-21 13:21] Tjoosten opened #168 "doctrine/dbal after vendor:publish"
Hi when i install this package. And run `php artisan vendor:publish`

i get this one
<img width="1183" alt="schermafbeelding 2016-06-21 om 15 19 54" src="https://cloud.githubusercontent.com/assets/5157609/16230835/ba3e40ac-37c3-11e6-89d9-ab94effe5b06.png">

Can u document this is the readme?

[2016-06-21 13:26] Gummibeer commented on #168
Hotfix is created and running in travis. Thanks for the hint!

To fix it now and yourself simply require `doctrine/dbal` with composer:
`composer require doctrine/dbal`

[2016-06-21 13:30] Tjoosten commented on #168
i did that. But i thought it was user unfriendly to not fix this one or not document this one.

[2016-06-21 13:31] Gummibeer commented on #168
Like I said - the hotfix is pushed and PR is open - but it's in travis now. If it passes I will merge it and create a hotfix tag.

[2016-06-21 13:47] Gummibeer commented on #168
PR is now merged and taged with `3.2.12.1`

[2016-06-21 13:47] #168 closed

[2016-06-21 13:48] Gummibeer commented on #167
@vpratfr does the polymorphic relationship solve your problem?

[2016-06-21 13:56] Tjoosten commented on #168
Thx for the quick fix

[2016-06-21 15:33] vpratfr commented on #167
Yes it could. I still have to decide if I go the simple way (system user) or the hardest way (full polymorphic relations).

I guess either way the problem would be solved.

[2016-06-21 15:46] Gummibeer commented on #167
The main problem is hat we can't rly solve it simple. We have to catch the value in the `from()` method on the Model but this method must return a relationship and no single model. So if the package should solve it we have to force the polymorphic relations, what is no Problem, and create a System model, table and entry. But this isn't really flexibel and a massive overhead for such a simple thing

[2016-06-21 15:56] Gummibeer commented on #167
Ok, read your question again and got an idea! 😂

The solution could be to make the `from_*` coulmns nullable. In this way we don't have a related model and can send anonymously. The only Problem is that we really have nothing `null` as `from` Attribute. This could be solved by some methods like `isAnonymous` and `getAnonymousFrom` the last one will take some values from the config `anonymous => [.

[2016-06-21 16:01] Gummibeer commented on #167
To solve the last Problem we can make the `from` not a real public value and add an additional Attribute on top like `sender` and this handles the: if is Anonymous return AnonymousModel else return from.

Version 4 will break a lot of code so this will be ok.

[2016-06-21 16:18] vpratfr commented on #167
I have no idea how it would be best solved.

Clearly, the polymorphic solution is like using a big hammer to hit a small nail :)

I guess a nullable from is a rather good idea, with associated methods.
Or an additional column which indicates "is_anonymous"/"is_system" maybe?

[2016-06-21 18:23] Gummibeer commented on #167
Ok, for the moment you have a workaround!? I will see what we implement in v4.

[2016-06-29 14:33] Tjoosten opened #173 "Migrations improvement."
Hi now this package have alo migration files. Is t a idea to squash them in one file?

[2016-06-29 14:35] Gummibeer commented on #173
It had migration files since the beginnening - and it isn't a good idea cause this will destroy all existing installations cause migrations are referenced by there file and classname and stored in the migrations table.

[2016-06-29 14:35] #173 closed

[2016-07-01 11:09] Gummibeer commented on #153
PR #160 is merged and closed - tag will be created next monday.

[2016-07-01 11:09] #153 closed

[2016-07-01 11:14] Gummibeer commented on #71
Update here: we will implement a basic `SendOnce` class in v4 nearly exact the one from @okaufmann (thanks for the class!) and cause of the new way we manage senders it will be possible without problems to overrite the class and add every custom code you want/need.

[2016-07-01 11:31] Gummibeer commented on #67
The major problem here is the very custom behaviour. First we are supporting translations, this means that we need a way to support all possible languages, what's not possible cause there is no global rule how to implode a list of multiple strings (in german and english its comma and the last an "and" but this isn't the same for chinese or whatever.

The next custom problem is that everyone want t

[2016-07-01 16:04] Gummibeer commented on #167
Ok, in the v4 it's now implemented. You can send a anonymous notification just replace the `from(...)` with `anonymous()` and on the `Notification` model you have a `isAnonymous()` method to detect if it has a from or not.
Handling the case it's anonymous is up to you.

[2016-07-01 16:06] Gummibeer commented on #71
It's implemented in the `version-4` branch.

[2016-07-01 16:06] #71 closed

[2016-07-01 16:06] Gummibeer commented on #167
It's implemented in the `version-4` branch.

[2016-07-01 16:06] #167 closed

[2016-07-10 13:12] lordadamson opened #179 "update the wiki to include how we display notifications in the view"
Thank you guys for the beautiful project.
It took me a while to understand that I have to call `$notification->getNotifyBodyAttribute()` nothing in the docs says that. and google says that I should be calling `$notification->body->parse()->text` or something like that which I guess an older version of notifynder.

Anyway It would be nice if it was documented with a couple of examples.

[2016-07-11 08:32] Gummibeer commented on #179
the right way would be to call `$notification->text` or `$notification->notify_body` - I recommend the text version cause of the changes in version 4 where the `notify_body` will be dropped.
The method you mentioned `getNotifyBodyAttribute()` is an accessor and get called when you call `notify_body` as an attribute.
With version 4 we will provide better examples and if I have the time also an exam

[2016-07-11 11:34] lordadamson commented on #179
oh well. Thanks for letting me know the right way. I just hope no one else would be confused.

[2016-07-11 12:27] Gummibeer commented on #179
The notifications are normal Eloquent models - so there is nothing special how to handle them in a view. But thanks for pointing out the missing part - we will cover it.

[2016-07-11 12:27] #179 closed

[2016-07-15 17:57] dmrc1143 opened #182 "pagination error "division by zero""
the way I am using notifynder normaly is :
`        $user=User::find(Auth::id());
$notifications= $user->getNotifications($limit = null, $paginate = null, $order = 'desc');`

there is no problem here but if I set $paginate to an integer, I get this error:

ErrorException in LengthAwarePaginator.php line 49: Division by zero

[2016-07-16 12:33] Gummibeer commented on #182
With a look at line 49 of the paginator https://github.com/illuminate/pagination/blob/master/LengthAwarePaginator.php#L49 it looks like you are missing the limit parameter. The limit is the parPage parameter in the Paginator.

But thanks for the issue - I will add a check that will set the limit to a default value when it is null and the paginator is requested.

[2016-07-16 15:45] dmrc1143 commented on #182
I've already looked at line 49 of the paginator but when I set $limit to an integer (also setting $paginate to an integer), I see there is no pagination action. When I go to localhost:80/notify?page=2 , coming datas are covered by page one. namely there is no difference between localhost:80/notify or localhost:80/notify?page=2 or localhost:80/notify?page=3 ...

[2016-07-17 15:30] Gummibeer commented on #182
To which integer value do you set the `$paginate` parameter? If it is an integer it has to be the page you want. If you just want to enable the pagination use `true` and no integer.

[2016-07-17 16:08] dmrc1143 commented on #182
okey, I am a bit confused. Let me ask, if I want to use

$user->getNotifications($limit = null, $paginate = null, $order = 'desc');

to get notifications and also want to paginate results 10 notifications per page , what should I do? And how can I call second, third ... page ?

[2016-07-17 17:07] Gummibeer commented on #182
If you use the normal laravel pagination behaviour (like the docu) You just have to set the limit to 10 and the paginate to true - so: `$user->getNotifications(10, true)` should work.

[2016-07-17 18:03] dmrc1143 commented on #182
I've already tried this but didn't work for me. May I ask, can you try it? Do I have a problem or is this a bug?

[2016-07-17 18:04] Gummibeer commented on #182
I will try it tomorrow.

[2016-07-18 12:07] Gummibeer commented on #182
I've tested it and also add a unittest for it and everything worked fine. I've also added some small changes in the pagination process but nothing that has changed something related to your issue.

After all travis tests are completed I will tag these changes as a new version.

[2016-07-19 01:55] Banandrew commented on #105
@Gummibeer
@fenos

Hey,

Can you please give an example on how to set additional fields? I added a field in the migration file, then in the config:

[code]

But how are you supposed to set it to something? I thought maybe I should try to [build a notification using an array or properties](https://github.com/fenos/Notifynder/wiki/Sending-Notifications#building-advanced-notifications), but I didn’t

[2016-07-19 08:25] Gummibeer commented on #105
Hey,

the required part just works if you use the Builder ( https://github.com/fenos/Notifynder/blob/master/src/Notifynder/Builder/NotifynderBuilder.php ) - in the `toArray()` method it checks if it has all required fields.

After reading the code and so on I saw that we miss this part *sorry* :confused: :smile:
I will add a fix today that will allow you to set every wished custom key on the notif

[2016-07-19 09:10] Gummibeer commented on #105
The last push was for version4 to fix this issue. It isn't fixed in the current stable 3.2 version.

[2016-07-19 14:03] Banandrew commented on #105
Thanks!

I required a `dev-version-4` to test it out, migrated new migrations, updated configuration file to reflect changes made in v4, added `'additional_fields'` just like before, and tried out `setField()` method like so:

[code]

But it didn’t set the field value. Tried passing specific key/value here and there, no dice; read the code, everything seemed to be in order, so hopefully it’s just

[2016-07-19 16:35] dmrc1143 commented on #182
Thank you for your interest but I don't understand what is wrong with mine. Still I cannot paginate notify..

[2016-07-19 16:50] dmrc1143 commented on #182
this commit fixed pagination: https://github.com/fenos/Notifynder/commit/3479aa76d7b166fe6bbaefc9edb584a85d1ed7c5

and after I updated composer, now pagination is working. I suggest you to label this issue bug again. People who hasn't updated yet can realize this issue..
Thank you!

[2016-07-19 20:07] #182 closed

[2016-07-19 20:18] Gummibeer commented on #105
Thanks for testing v4 :smiley:
The problem with the `setField()` isn't clear for me :confused: I've added a unittest for this and it's working like expected. If you want you can take a look in the unittest - if the field is in the `additional_fields.fillable` or `additional_fields.required` it should be added to the notification builder model. Can you check this? Could be that the field is removed

[2016-07-19 20:23] Gummibeer commented on #105
Ok, have checked the eloquent model and it's merging the predefined and custom fillable fields in the construct https://github.com/fenos/Notifynder/blob/version-4/src/Notifynder/Models/Notification.php#L36 so there should also no data disapear.

[2016-07-20 16:11] Banandrew commented on #105
I can’t test it, somehow when I navigate to the package and run `../../bin/phpunit` symlink, it returns `PHP Fatal error:  Class 'TestCaseDB' not found in /home/vagrant/code/ecc/vendor/fenos/notifynder/tests/integration/Handler/NotifynderHandlerTest.php on line 13`. I’m not sure if I should be testing the package the same way I test Laravel, though.

Yes.

I tried doing a fresh Laravel install onl

[2016-07-20 20:49] Gummibeer commented on #105
The problem with phpunit is that it needs an optimized composer autoloader `composer dump-autoload -o` don't know why but this works.^^

Ok, so it looks like a problem in the eloquent model - before we release v4 this will work. Until this overriding the Notification model is a solution.

And thanks, I'm doing my best ;)

[2016-07-21 16:08] pabloleone opened #188 "Improve documentation"
Hi,

I read pretty much all documentation and I read the code, but I cannot figure out what's send function does.

The package says that can be used to notify users, but I couldn't find drivers or implementations that actually send an email or push notifications.

As far as I understood, the API provides a way to store and manage notifications but it's up to us how to actually send those notificat

[2016-07-21 20:10] Gummibeer commented on #188
The package stores the notifications by default in the database - if you want to send them via email or something else you can extend the sender manager.
* https://github.com/fenos/Notifynder/wiki/Extend-Senders
* https://github.com/fenos/Notifynder/wiki/Email-Notifications

In the next version4 we come with a dedicated documentation at http://notifynder.info you also can try the current dev versi

[2016-07-23 03:54] gewuxy opened #191 "Class 'AddStackIdToNotifications' not found"
when doing migrate:rollback,
It happens Class 'AddStackIdToNotifications' not found

[2016-07-23 06:51] gewuxy opened #192 "Is there a command to modify category?"
I have run below command to create a category:
php artisan notifynder:create:category "user.auth" "{to.username}，{extra.message}"

but I want to modify to below:
php artisan notifynder:create:category "user.auth" "{to.user}，{extra.message}"

Is there a command to do this?

[2016-07-23 10:42] Gummibeer commented on #192
Simply do it in a migration. Migrations or seeds are better to store production data like the categories.

[2016-07-23 10:43] Gummibeer commented on #191
Have you run a `composer dump-autoload`? Most times they are not in the autoloader and that's why they are not found.

[2016-07-24 14:32] ahmedelshaf3y opened #193 "Sort of notifications should by date not read"
please make the order dynamic in function getAll
in file NotificationRepository

        $query = $this->notification->with('body', 'from')
            ->wherePolymorphic($toId, $entity)
            ->orderBy('read', 'ASC')
            ->orderBy('created_at', $orderDate);

should remove two lines order and make them dynamic or put created_at only
<del>                 ->orderBy('read', 'ASC')</del

[2016-07-25 06:45] Gummibeer commented on #193
You simply can access the raw eloquent query by calling the relation method.

[code]

[2016-07-25 07:48] #188 closed

[2016-07-25 07:49] Gummibeer commented on #191
Closed due to inactivity.

[2016-07-25 07:49] #191 closed

[2016-07-25 07:49] #192 closed

[2016-07-25 18:19] ahmedelshaf3y commented on #193
You mean that i make models for notifcations ,notifications category and put the relation function in user model and call it but this mean we will not use the package or we can use relations using the package

[2016-07-25 19:47] Gummibeer commented on #193
The Code I posted worksout of the box with the package. The `Notifable` Trait adds the relation method.

[2016-07-25 21:20] ahmedelshaf3y commented on #193
I use Notifable in user model and then try to use in $user->notifications()->orderBy('created_at', 'desc')->get(); in controller no result return

[2016-07-26 08:16] SirLamer commented on #182
Hey, just to add to this... I'm pretty sure this was an issue in Laravel v5.2.40. I was searching with Google to resolve the same issue (divide by zero error without cause, having double-checked), got here, and from above decided that it's probably a framework bug. Yep.

Laravel v5.2.41 fixes it.

[2016-07-26 08:20] Gummibeer commented on #182
@SirLamer thanks for the hint! :)
Was also wondering cause the commit wasn't any fix - just codecleaning.

[2016-07-26 13:17] dmrc1143 commented on #182
@SirLamer we have been deceived by laravel :smile: , I'am also wouldn't believe how commit fixed this issue because @Gummibeer said did nothing about this issue.

Thank you all!

[2016-07-26 17:47] SirLamer commented on #182
@dmrc1143 you blamed a Laravel bug on this package incorrectly. It has nothing to do with this package. So maybe own that.

[2016-08-02 08:50] purdel opened #195 "Pagination"
Ciao Fabri',

Could you please add some pagination examples in the docs? I'm having trouble implementing pagination in views.

Grazie mille

[2016-08-02 09:12] purdel commented on #195
Nevermind, just use one of the the Laravel default presenters. Ex:

    {!! $notifications->render(new \App\Librarie\SimplePaginationPresenter($notifications)) !!}

The latter is just a custom presenter that extends the `SimpleBootstrapThreePresenter`.

[2016-08-02 09:12] #195 closed

[2016-08-02 15:23] purdel opened #196 "Extra fields not saved in db"
Using version 3.2.14. It seems that the extra fields are not saved in the `notifications` table.

This

     $extraPost = $post->body;
     $extraReason = $post->reason;
     Notifynder::category('post.rejected')
         ->from(Auth::user()->id)
         ->to($post->user->id)
         ->url('#')
         ->extra(compact('extraPost'))
         ->extra(compact('extraReason'))
         ->send();

wo

[2016-08-02 15:48] #196 closed

[2016-08-03 07:18] Gummibeer commented on #196
Is it solved or why did you close it?

[2016-08-03 08:15] purdel commented on #196
Because yesterday I was a tired fool and wrote `->extra(compact($extraPost))` instead of using the correct php syntax `->extra(compact('extraPost'))`. Sorry 'bout that, my bad.

Kudoz for this great package.

[2016-08-11 03:25] louiskhanh opened #197 "CategoryNotFoundException in CategoryManager.php line 43:"
Hi,
I installed Notifynder and run the sample code as below:

Notifynder::category('hello')
           ->from($user_sender_id)
           ->to($user_receiver_id)
           ->url('http://localhost')
           ->send();

However, something wrong happens. Here is the error log :
CategoryNotFoundException in CategoryManager.php line 43:
Category Not Found
in CategoryManager.php line 43
at CategoryMa

[2016-08-11 03:26] #197 closed

[2016-08-11 07:52] Gummibeer commented on #197
Hey, have you solved it? If not: you have to create the category first - via the Artisan command or directly in a migration.

[2016-08-11 13:43] louiskhanh commented on #197
Thank Gummibeer, I already fixed it.
However, when I embedded the trait (use Notifable) into the User Model (App\Model\Users), it show the error log : "Class App\User not found". Pls help me fix this ! Tks in advance !

[2016-08-11 20:28] Gummibeer commented on #197
Your User Model isn't in default namespace - have you changed it in the notifynder config? Another/better way would be to use notifynder as polymorphic.

[2016-08-24 10:06] mohamed-alashry opened #200 "problem with Notifable trait in user"
I have installed Notifynder 3.2 inside my laravel app, for try if it works I have just insert one notification :

[code]
It works properly, if I check inside database notification is there.

The problem happens when I try to get the notification in that way:

$user = User::find(2);
dd($user->getNotifications($limit = 10, $paginate = 1, $order = 'desc'));
The result is that: [Notification result](h

[2016-08-24 11:02] Gummibeer commented on #200
Can you pls try `dd($user->notifications)` this should output all Notifications related to this user with pure Eloquent logic.

[2016-08-24 11:17] mohamed-alashry commented on #200
it returns
[code]
p.s
my primary key for the user is users_id

[2016-08-24 12:08] Gummibeer commented on #200
Not if you have set it as the primary key: ` protected $primaryKey = 'users_id';`!?
Have you tested it with new v4? We have the new version in 3 internal apps in use and it's working pretty well.

[2016-08-24 15:41] mohamed-alashry commented on #200
i tried v4 but when i try to create category this execption came up
` There are no commands defined in the "notifynder:create" namespace.`

[2016-08-25 07:24] mohamed-alashry commented on #200
still stuck on this. any help..

[2016-08-25 07:31] Gummibeer commented on #200
Yes, in the v4 is No Artisan command - Database changes belongs to migrations and seeds, there you can add your category.

[2016-08-25 08:44] #105 closed

[2016-08-25 09:44] mohamed-alashry commented on #200
i found the problem, and i solve it.
1:  in config/notifynder.php i had to change the polymorphic value to true
2: add the type to method like so
`Notifynder::category('hello')
                   ->from($user_sender_id)
                   ->to('App\User', $user_receiver_id)
                   ->url('https://laravel.com/docs/5.2/validation')
                   ->send();`
3: if you changed the users

[2016-08-25 10:00] Gummibeer commented on #200
Good that you solved it - related to your points:

1. The polymorphic is just important if you have multiple models that use the trait
2. You can pass the mdoel itself to the `from()` and `to()` methods - we will pick the informations by `getMorphClass()` and `getKey()`
3. Oh damn ... in v4 this is solved.

These are reasons why we started with the new version cause over the time there are a lot o

[2016-08-25 10:01] Gummibeer commented on #200
Good that you solved it - related to your points:

1. The polymorphic is just important if you have multiple models that use the trait
2. You can pass the mdoel itself to the `from()` and `to()` methods - we will pick the informations by `getMorphClass()` and `getKey()`
3. Oh damn ... in v4 this is solved.

These are reasons why we started with the new version cause over the time there are a lot o

[2016-08-25 10:12] mohamed-alashry commented on #200
yes i was just going to update that. but yes it was all about `getkey()`. glade to help

[2016-08-25 11:19] #200 closed

[2016-08-25 12:46] mohamed-alashry opened #205 "add custom field"
i added custom field to notifications table and added the field name to notifynder config file  but how to save this value

[2016-08-25 12:57] Gummibeer commented on #205
With the new added `setField()` method on the builder.
https://github.com/fenos/Notifynder/blob/master/src/Notifynder/Builder/NotifynderBuilder.php#L158

[2016-08-25 13:12] mohamed-alashry commented on #205
i checked before it wasn't exist, but when i added it and tried again the field still null

[2016-08-25 14:08] mohamed-alashry commented on #205
in file  vendor\fenos\notifynder\src\Notifynder\Models\Notification.php i changed in method mergeFillable()
this
`$fillables = array_unique($this->getFillable() + $this->getCustomFillableFields());`
to
`$fillables = array_unique(array_merge($this->getFillable(), $this->getCustomFillableFields()));`
now it works fine

[2016-08-25 14:11] mohamed-alashry opened #206 "how to use group notifications ?"
i want to know how to group notifications.

[2016-08-25 14:14] Gummibeer commented on #205
Do you have the latest release? `composer update` today we have published a new version that exactly fixes this bug.
https://github.com/fenos/Notifynder/blob/3.2.15/src/Notifynder/Models/Notification.php#L225
This is the line of code in the latest release.

[2016-08-25 14:34] Gummibeer commented on #206
What do you mean with group? The implemented grouping of notifications in v3 is that you cans end multiple notifications (out of different categories) with the same data (from, to, extra, url ...).

If you want to know about this @fenos is your man, he has implemented this. Could also be that it will get dropped in v4 cause we see no real sense of sending multiple notifications with the exact same

[2016-08-25 23:34] messerli90 commented on #196
I'm also having trouble with saving multiple extra fields. I have:

My code looks exactly as the one in the original thread, but the second ->extra() will over write the first.

Is there a way to get multiple extra fields onto one notification?

[2016-08-26 09:07] Gummibeer commented on #196
@messerli90 multiple fields: yes - multiple function calls: no

We directly assign the value of the extra call to the extra value - so it's correct that a second call overrides the first call.
You can build an array before you send the notification like:

[code]

But we can make something like this possible in the new v4, first beta release was yesterday.

[2016-08-26 09:21] Gummibeer commented on #196
@messerli90 Can you check this out? https://github.com/fenos/Notifynder/blob/version-4/src/Notifynder/Builder/Builder.php#L126

If you are using the v3 you can copy and adjust it into the `NotifynderBuilder` or update to v4 - an update guide is here: http://notifynder.info/Upgrade_Guides/v3.2_to_v4.0

[2016-08-26 09:33] #205 closed

[2016-08-26 09:33] #193 closed

[2016-08-26 09:34] Gummibeer commented on #67
closed cause of inactivity and no idea how to solve it in a generic way.

[2016-08-26 09:34] #67 closed

[2016-08-28 04:46] azeos commented on #71
First of all, thanks for this implementation, I was looking for something like this.

The only problem I'm having, is that this implementation resends the notification if already exists, which I don't want to. Same scenario as @okaufmann describes, I want to prevent flooding, but if the notification is being resended, the user is notified again.

Is there any way I can prevent that? Should I build

[2016-08-28 09:08] Gummibeer commented on #71
@azeos Thanks for reply and Testung it. To your question:
Adding a Parameter to a Sender isn't this easy. :/ If this decision is Application wide we can add a config Option. Otherwise you can add your own or override the existing in v4.
The only solution I can imagine to pass parameters is to pass them as an Array with `call_func_args()` - also this needs some thinking.

Can you pls Open a new iss

[2016-08-30 21:50] messerli90 commented on #196
Wow you guys are killing it! I will update to v4 tonight, and try it out. This is great timing.

Loving the package so far.

[2016-08-31 09:05] Gummibeer commented on #196
@messerli90 Thanks! :)
It's in an official beta release now and we will try to come up with an RC this week. If you have feedback, bugs or something - just create an issue.

[2016-09-11 15:44] elsodev commented on #103
@Gummibeer is there any examples on how to make use of the stack id to group notifications or its not for such usage #67

[2016-09-11 21:38] Gummibeer commented on #103
The Stack id is for grouping notifications that were send in a stack/batch/loop. So if you send a notifications to all admins that one User has registered you can Mark tgem all as read if one admin approves that User.

[2016-09-15 23:15] jbardnz opened #213 "Conflicts with Laravel 5.3 Notifiable trait"
Laravel 5.3 requires the Illuminate\Notifications\Notifiable trait to be added to the User model.

After adding this trait I get the following error message:

    Trait method notifications has not been applied, because there are collisions with other trait methods on App\Models\User

This conflict is with the use Fenos\Notifynder\Notifable trait.

[2016-09-16 09:24] Gummibeer commented on #213
Yes, beacause Laravel has added it's own notification system in v5.3 - at the moment there is no plan to make it compatible with the laravel notification package.
If you want to use Notifynder instead of the laravel one you can remove the laravel trait from the user model and add the notifynder one.

[2016-09-16 09:27] Gummibeer commented on #206
Closed due to inactivity.

[2016-09-16 09:27] #206 closed

[2016-09-16 09:46] jbardnz commented on #213
Hey.

I understand you only need to use one notification system, but it seems like a number of basic Laravel features are now tied into the notification system.

E.g. you need the Notifiable trait to use password resets: https://laravel.com/docs/5.3/passwords

[2016-09-16 09:57] fenos commented on #213
if you want keep both u can also
[code]
Changing `Notifable` trait name of Notifynder would be a breaking change for the library, so not sure if we have to keep it as it is or Create a new Trait class that extends the `Original` trait and call it differently

[2016-09-16 10:18] jbardnz commented on #213
Hey just to be clear, the conflict isn't with the trait names.

If you look closely Laravel uses Notifiable while Notifynder uses Notifable.

The issue is actually when you apply both traits to the User model.
I did try renaming the trait as per your example but it didn't help.

For now I have just removed the trait and load notifications via the Facade but still think this is a valid issue.

[2016-09-16 10:31] fenos commented on #213
@jbardnz oh sorry i miss understand the conflict, it was the `notifications` function which cause the issue. mmmh I believe is a valid issue, and i can say is annoying that Laravel got the `notifications` function from the model. @Gummibeer Any thoughts?

[2016-09-16 10:53] Gummibeer commented on #213
the only solution will be to rename the method in the trait. But this will be a breaking change for all other laravel versions and we haven't v5.3 in the supported laravel versions. Exactly because laravel has build it's own implementation for this.

The other option could be to add another trait especialy for the database relation in a L5.2 and L5.3 variant. I will add the last way to prevent a b

[2016-09-16 10:54] Gummibeer commented on #213
Last question @jbardnz: do you use Notifynder v3 oder v4?

[2016-09-16 10:55] jbardnz commented on #213
I was using 3.2.15.

[2016-09-16 10:59] Gummibeer commented on #213
Ok, will it be ok that I just fix this in our v4 version. v3 isn't supported for features - just bug fixes. And this is a bug that comes with a new laravel version that isn't supported in v3.

[2016-09-16 11:00] jbardnz commented on #213
Yeah I think it makes sense to only fix in v4 :)

[2016-09-16 15:02] Gummibeer commented on #213
@jbardnz in the new `v4` pre-release is a new trait `NotifableLaravel53` this is compatible with Laravel5.3 the far I've tested it. Can you test it and give feedback?

[2016-09-19 01:54] jbardnz commented on #213
@Gummibeer I have just tried testing it now. Not 100% sure I have done it right as I have updated to v4 but not sure if their are further upgrade steps than just running the migrations?

I get the following error using the NotifableLaravel53 trait:

`Argument 1 passed to Fenos\Notifynder\Models\NotificationCategory::__construct() must be of the type array, none given`

[2016-09-19 08:25] Gummibeer commented on #213
Yes there are more steps: http://notifynder.info/Upgrade_Guides/v3.2_to_v4.0

The new Trait for v5.3 isn't documented yet cause it's not final, also in it's naming. If you find better names for the trait and or methods just tell me.

[2016-10-07 15:12] sakalauskas commented on #213
@jbardnz  This PR #215  should fix the problem, however at the moment it is not tagged :(. So if you are in a rush, you can checkout that commit in composer.json

`"fenos/notifynder": "dev-version-4#0f8eb26f67c4209ddfa2c13673ff7ba063eb0b19",`

[2016-10-07 18:50] Gummibeer commented on #213
@sakalauskas sry - have merged it but not tagged. It's even yet a pre (beta) release but it's tagged now: https://github.com/fenos/Notifynder/releases/tag/4.0.0-beta.4

[2016-10-07 18:51] #213 closed

[2016-10-11 09:40] msankar1991 opened #216 "Get Security exception problem while install latest version"
![err](https://cloud.githubusercontent.com/assets/8719413/19265888/d6f2eece-8fc4-11e6-90b6-56988c7131b8.png)

[2016-10-11 12:50] Gummibeer commented on #216
@msankar1991 But like the Exception says it indicates a man in the middle or any other content changing attack. And it's related to packagist - so no way for us to debug or fix it.

And it's not related to this package - have tried it my own:

[code]

[2016-10-11 12:50] #216 closed

[2016-10-14 22:58] Smokexyz opened #217 "Fresh install error"
On php artisan migrate -
[code]

[2016-10-19 22:15] Gummibeer commented on #217
Which Version are you using? And have you tired to clear the Composer Packages, the Cache? And which tables, columns are already created? In general it is working :/

[2016-10-22 00:15] LukeTowers opened #218 "Configurable table names"
Are there any plans to introduce configurable table names into this library? I'm working with an existing project that has a naming convention for the tables in the database, which means that I need to have these tables follow that strict naming convention.

I know that I could always just extend the model classes present with my own and modify the table names where applicable, but I would love it

[2016-10-22 09:25] Gummibeer commented on #218
We can implement it but atm I have not much time. If you create a PR pls do it for the `version-4` branch. Version 3 isn't supported any longer with new Features.
If it works and doesn't conflict with something I will be happy to merge it.

[2016-10-22 09:27] Gummibeer commented on #218
And the super best would be if you can add this new config to the documentation at https://github.com/Astrotomic/notifynder-documentation

[2016-10-26 10:23] hopewise opened #219 "error when migrate:refresh"
When I try to do:

   php artisan migrate:refresh

I get this error:

[code]

which is related to this migration file:

[code]

What do you suggest to solve this issue?
Thanks

[2016-10-26 11:14] Gummibeer commented on #219
In this package is no `AddFromIdAndToIdToInvitationsTable` migration - and in general also no `invitations` table. So I don't know what I should do to help you!?

[2016-10-26 11:14] #219 closed

[2016-10-26 11:51] hopewise commented on #219
ops, sorry, I thought its related to this repo

[2016-10-26 13:12] wyklif commented on #85
i also ran into this error it is from using the code from the wiki

      $user_sender_id   = 1; // User sender
$user_receiver_id = 2; // User that receive the notification

Notifynder::category('user.following')
           ->from($user_sender_id)
           ->to($user_receiver_id)
           ->url('http://localhost')
           ->send();

// we sent the notification!
// now let's check it

$userN

[2016-10-26 15:12] Gummibeer commented on #85
@wyklif which version do you use? And are you using the trait on your user model?

[2016-10-26 15:51] wyklif commented on #85
Im using laravel 5.3 i think it might be the trait clash issue

Sent from Yahoo Mail on Android

  On Wed, Oct 26, 2016 at 18:12, Tom Witkowski<notifications@github.com> wrote:
@wyklif which version do you use? And are you using the trait on your user model?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-26 18:31] Gummibeer commented on #85
L5.3 isn't supported by `Notifynder v3` we've added support with a special L5.3 Trait in the `v4` pre-releases.
And without this trait there can't be this method.

[2016-10-27 14:11] #85 closed

[2016-10-27 14:11] Gummibeer commented on #217
closed due to inactivity

[2016-10-27 14:11] #217 closed

[2016-10-28 11:05] sakalauskas commented on #218
If you have an issue only with "notifications" table renaming, and others are just fine, you can just use custom notification model where you would extend the Notifications class and override table name:

[code]

[2016-10-28 16:10] LukeTowers commented on #218
Yeah, the issue I'm having is that **all** of the tables have to conform to the standard, which means that I would have to extend each of the models to replace the table names, and then also replace the relationship definitions to correspond to the new models, which is a bit more modifying of the library than I'd like to do ideally.

[2016-10-31 04:58] ChenPHPER opened #221 "use model can not found"
i have a different user model as Members , and i had change the model on notifynder.php, but when i use the method such as getNotifications(),the have error said, my model not can found? what this problem?

controller code:
[code]

model code:
[code]

[2016-10-31 05:01] ChenPHPER commented on #221
i had found the problem, and solved it by php articsan cache:clear

[2016-10-31 05:01] #221 closed

[2016-10-31 15:05] ChenPHPER opened #222 "i have issue to send multiple notifications"
this is my code:

[code]
when i use this method ,the browser will have the problem,would please tell me have to use it or give me sample ?
the error with browser:
[code]

[2016-10-31 15:17] ChenPHPER commented on #222
add comment
i can not see the wiki with the method

[2016-10-31 16:32] Gummibeer commented on #222
Thats's your Exception and it's true - by default there is no `$this->notifynder`.
In `v4`  we've added a method `$this->notifynder($category)` to the trait. In every case you can use the Facade that you've setuped during installation.

[2016-11-01 01:18] ChenPHPER commented on #222
now i change to Facade,such as `Notifynder::loop($users, function(NotifynderBuilder $builder, $user)`
but still have error with use
[code]
can you help me?

[2016-11-01 09:16] Gummibeer commented on #222
@ChenPHPER do you have a `use Fenos\Notifynder\Builder\NotifynderBuilder;` in your Controller? Cause this Exception looks like not - your IDE should also throw an error for it.

[2016-11-02 02:51] ChenPHPER commented on #222
ok now!thanks a lot!
and i see my database have two data sheet notifications_groups and notifications_categories_in_groups How they are used？

[2016-11-02 09:33] Gummibeer commented on #222
These tables come from Notifynder v3 - in this version they are used to group some categories and send them all with one call but the same data (extra, from, to). This feature get's removed in v4 and we will also add a migration that will remove these two tables.
If you want to do this we recommend laravel events and listeners or methods on your model or any custom notification manager that is kin

[2016-11-03 07:37] ChenPHPER commented on #222
ok，thank you for you help！

[2016-11-03 07:37] #222 closed

[2016-11-04 09:06] tristanbailey opened #224 "How should you deploy new notification categories to production"
How should you deploy new notification categories to production (automated)?

I build 3 notifications to test, and then when releasing the code to production, I had to add manual steps to create the notification categories with artisan one by one.

Is there a way I can commit the db changes or something to not have to do this.

thanks

[2016-11-04 10:05] Gummibeer commented on #224
Simply like you do with all the other predefined database records - migrations.
* v3: http://notifynder.info/Version_3/Usage/Create_Categories
* v4: http://notifynder.info/Version_4/Usage/Create_Categories

WIth this you have the same over all instances.

[2016-11-04 10:05] #224 closed

[2016-11-05 16:24] tristanbailey commented on #224
Thank you. I had looked on the wiki on GitHub and not seen the words "migration" or "seed" as have tried anything else in migrations so that's an interesting idea. Not thought of trying before, and the guide suggests it as an artisan command so maybe that command should also make a migration? Thanks for pointing me to a different manual page.

[2016-11-06 12:19] Gummibeer commented on #224
We have dropped this command in v4 and will also remove the Wiki and most of Readme (except super basic).
The package was growing and growing and had a lot of not perfekt things (docs, Code Base, extending and so on). Cause of this we decided to make it new from scratch including docs and everything else.

The new v4 is already in Beta phase and can be tested - we recommend to Switch cause we won'

[2016-11-06 16:58] Anisi opened #225 ""class notifynder does not exists" error"
Hello
I installed the plugin today, but immediately after first use, "class notifynder does not exists" error occurred.
I don't know what should to do! What is your solution?
I have Laravel 5.2 installed
Thanks

[2016-11-06 21:54] Gummibeer commented on #225
So two things:
1) The class should be with an upper N `Notifynder`
2) This just works if you have added the facade to the alias array in your app config.

For a detailed instruction pls take a look in the docs:
http://notifynder.info

[2016-11-06 22:53] Anisi commented on #225
Thanks
I have done all above, But problem still exists!

[2016-11-07 00:07] Gummibeer commented on #225
Ok, can you show me what you try to do (Code)? If I know what you do and in best Case the full exception Stack trace this will help to solve it.

[2016-11-07 04:24] Anisi commented on #225
OK, why not?!
I added these two lines to config/app.php according on installation guide:

    Fenos\Notifynder\NotifynderServiceProvider::class,

    'Notifynder' => Fenos\Notifynder\Facades\Notifynder::class,

#When the problem occurs?!
Always!
When I want to use the code anywhere like this:

    Notifynder::category('sayhello')
            ->from(1)
            ->to(2)
            ->url('http://

[2016-11-07 07:58] Gummibeer commented on #225
Ok, just to clarefy: you've added the ServiceProvider class to the `providers` Array and the Facade one to `aliases` Array!?
And the Provider in best Case After the Core/illuminate but before your package/App ones!? (The last part isn't 100% needed but a recommended way for every package).

I'm just asking cause it looks like the Provider isn't booted right. It's understandable that there is No cl

[2016-11-07 09:12] Gummibeer commented on #225
Ok, have installed it in a super fresh installation of `Laravel 5.2.45`. I will write down all the steps I've done and after these everything works fine.

1. `composer require fenos/notifynder:^3.0`
2. add `Fenos\Notifynder\NotifynderServiceProvider::class,` to `config/app.php['providers']`
3. add `'Notifynder' => Fenos\Notifynder\Facades\Notifynder::class,` to `config/app.php['aliases']`
4. `php

[2016-11-07 10:04] Anisi commented on #225
Thanks for your great attention.
I repeated all steps you said in my project and it didn't work, while it works in a fresh Laravel project!

[2016-11-07 10:25] Gummibeer commented on #225
Ok, so something is really wrong with the ServiceProvider. Can you delete the whole `vendor` folder and the `composer.lock` file. Run a `composer clear-cache` and after this reinstall everything with `composer install`. If this doesn't work would be cool if you can post your `config/app.php` file to ensure that there is no mistake. It could be that the order or something is wrong and the call to t

[2016-11-07 10:53] Anisi commented on #225
I've already done that too, but nothing's changed!
config/app.php

    <?php

return [

    /*
    |--------------------------------------------------------------------------
    | Application Environment
    |--------------------------------------------------------------------------
    |
    | This value determines the "environment" your application is currently
    | running in. This may determ

[2016-11-07 11:14] Gummibeer commented on #225
Ok, first hint, reorder the service providers:

[code]

this will ensure that your application providers will run after all others and can override things.

Except this the `alias` is missing but if you are calling it directly with the facade class it's not necessary.

To be honest: I've no idea why this isn't working in your application. :/ Primary cause it's working in all my (new and existing o

[2016-11-07 20:05] Anisi commented on #225
OK, I have no idea too!
Because time of our project in tight and we are near the deadline, The only solution that I have in mind, that is to switch to another notification package :/
By the way thanks a lot.

[2016-11-07 20:24] Gummibeer commented on #225
Sad to hear that the only thing I can imagine is to debug slowly through the whole notifynder serviceprovider stack - so putting a `dump()` or `Log::debug()` in every related method in the service provider and related classes and check if the provider is executed the right way and also before the exception. If it's not you have an idea of what's going wrong and/or right and can minimize the possib

[2016-11-08 04:18] Anisi commented on #225
A surprise, problem solved using version 4!

[2016-11-08 06:48] Gummibeer commented on #225
Happy to hear this! 😊

[2016-11-08 06:48] #225 closed

[2016-11-13 07:59] Anisi opened #226 "Notifynder sender response"
I was thinking it would be better if `Notifynder->send()` function returned prepared result of notifynder model instead of boolean (Just like getLastNotification()).

[2016-11-13 08:13] Gummibeer commented on #226
This can't be a consistent behaviour over all senders. We thought about it but the `sendMultiple` can't return the models - it runs just one DB query and not on the model. And all other extending Senders (Email, SMS, Slack and so on) can't do it cause they doesn't create any DB entries.

To keep them all consistent and flexible it returns just a boolean. And `getLastNotification()` was dropped in

[2016-11-13 08:13] #226 closed

[2016-11-23 21:39] computerfr33k opened #228 "[v4] How to create a custom sender"
I have upgraded my Laravel project to 5.3 and as a result had to upgrade Notifynder to v4. Now I am wondering, how can I migrate my existing custom sender to work with v4.

[2016-11-23 22:30] Gummibeer commented on #228
You can take a look in the three existing ones - they are registered the same way.
In basic: (Switch from Phone to Desktop).

[2016-11-23 22:32] computerfr33k commented on #228
I figured out most of it by going through the source code, I am implementing SenderContract.

But I want to access the text attribute like I could in v3 by calling `parse()` and then calling the `text` attribute. Is there currently a way to get the parsed text in the Builder/Notification object.

[2016-11-23 22:37] Gummibeer commented on #228
In v3 was also no way to access the parsed text!? In v3 was just an array.
The https://github.com/fenos/Notifynder/blob/version-4/src/Notifynder/Parsers/NotificationParser.php wants a database notification ... and thanks for this hint. I bet you want to send an email notification or something like this!?

Can you pls  create a new issue for this - atm there is no way to get the parsed body before

[2016-11-23 22:37] #228 closed

[2016-11-23 22:41] computerfr33k opened #229 "[v4] Get Notification Parsed text before it's inserted in DB"
#228

[2016-11-23 22:44] computerfr33k commented on #229
Continuing from the discussion in the previous issue. What I was doing to access the parsed text was by first sending all notifications to the database and saving those results in an array.
[code]

I then put those notifications in the NotifynderCollection class to be able to call the parse method to retrieve the parsed text to allow me to send push notifications with a proper message.

[code]

[2016-11-23 22:48] computerfr33k commented on #229
But, that was mostly just a workaround to getting the text attribute. But if there can be a way directly in the Builder/Notification, that would be perfect and extremely useful.

[2016-11-23 22:50] Gummibeer commented on #229
Ok, if you want/can to go the way with the database this is also possible in v4 but directly on the model - there is no collection anymore.
But I will extend the parser that it's also possible to parse a builder notification model without an entry in the database. The logic is there and it just needs some additional methods and checks.
I will try to get it done tomorrow and release it in a new RC

[2016-11-23 22:53] computerfr33k commented on #229
Ah, I didn't see the new NotificationParser class. Was only trying the old name, oops.

[2016-11-24 00:28] Gummibeer commented on #229
We've changed a lot in v4 ;)
But you don't need the class as a User of the package - it's wrapped in the notification eloquent model and I will put it in the builder model.
We've reworked nearly everything and removed duplicated and useless or too specific code (in the Trait).

[2016-11-24 10:58] Gummibeer commented on #229
c56dd13 add `getText()` on the builder notification class to get the full and parsed message without saving to database

To get an idea of how to use you can take a look at `\BuilderNotificationTest::testGetText()`. I will adjust the documentation and tag it as new RC - thanks for the hint/idea! :)

[2016-11-24 11:00] Gummibeer commented on #229
Here it is - https://github.com/fenos/Notifynder/releases/tag/4.0.0-beta.6 - would be great if you can give feedback!?

[2016-11-24 11:00] #229 closed

[2016-11-24 11:10] Gummibeer commented on #229
And here it's now also in the docs: http://notifynder.info/Version_4/Customization/Extend_Senders

[2016-12-04 07:03] ChenPHPER opened #231 "if i want to send the Notifcation to more people, how can i use the queue"
such as the title,  this package integrate this feature?

[2016-12-04 09:36] Gummibeer commented on #231
You pass the receivers to the job and inside you use the `Notifynder::loop()` method.
Otherwise you can create a custom sender and queue every notification by it's own.

[2016-12-05 01:43] ChenPHPER commented on #231
@Gummibeer that's work for me now. and i want to create a custom sender for another user table for admin user, that is work?

[2016-12-05 06:59] Gummibeer commented on #231
You don't need a custom sender for another model. Just enable polymorphic in the config and pass the Admin model. Even if it is a bad Design to have a new Table/model just for something that's a boolean flag `is_admin = true|false`

[2016-12-05 08:19] ChenPHPER commented on #231
@Gummibeer let me try ,by the way, How to return time stamp for int？

[2016-12-05 08:22] ChenPHPER commented on #231
how to set the boolean flag boolean flag is_admin = true|false? @Gummibeer

[2016-12-05 08:32] Gummibeer commented on #231
You can add `is_admin` as an attribute for your usermodel - or if you use any authorization system, like bouncer, you can add it as a role.
By default `created_at` and `updated_at` and if exists `deleted_at` are returned as a `Carbon` instance. You can use the carbon methods to get a timestamp or any other formatted represantation of it. Or you can disable the auto carbon for these and then you wi

[2016-12-05 08:32] #231 closed

[2016-12-06 04:55] ChenPHPER commented on #231
@Gummibeer would you please Invite me into the above 2 team，my email address 15989768811@163.com thankx!

[2016-12-06 06:21] Gummibeer commented on #231
For our Team done - larachat you have to join your own: https://larachat.co

[2016-12-14 13:49] Gummibeer opened #235 "bring v4 live"
- [x] tag `v3.2.16` from `master` https://github.com/fenos/Notifynder/releases/tag/3.2.16
- [x] create `version-3` branch from `master`
- [x] merge `version-4` into `develop` #234
- [x] delete `version-4` branch
- [x] tag `v4.0.0-rc` from `develop` https://github.com/fenos/Notifynder/releases/tag/4.0.0-rc
- [x] merge `develop` into `master` #237
- [x] tag `v4.0.0` from `master` https://github.com/

[2017-01-04 09:16] #235 closed

[2017-01-05 16:35] Gummibeer opened #240 "Nexmo Sender"
Add a Nexmo sender for SMS.

- [x] Nexmo SMS Sender

https://www.nexmo.com/
https://github.com/Nexmo/nexmo-php

[2017-01-05 16:39] Gummibeer opened #241 "Twilio Sender"
Add a Twilio sender for SMS.

- [ ] Twilio SMS Sender

https://www.twilio.com
https://github.com/twilio/twilio-php

[2017-01-05 16:42] Gummibeer opened #242 "Move L5.3 Senders"
Move, as many as possible, senders of the new Laravel5.3 Notification system: http://laravel-notification-channels.com/

[2017-01-06 10:20] Gummibeer opened #243 "MessageBird Sender"
Add a MessageBird sender for SMS and Calls.

- [x] MessageBird SMS Sender
- [x] MessageBird Voice Sender

https://www.messagebird.com
https://github.com/messagebird/php-rest-api

[2017-01-06 10:21] Gummibeer opened #244 "Slack Sender"
Add a Slack sender.

- [x] Slack WebHook Sender

https://slack.com/
https://github.com/maknz/slack

[2017-01-06 10:22] Gummibeer opened #245 "Email Sender"
Add a Email sender.

- [x] Email Sender

[2017-01-06 10:24] Gummibeer opened #246 "Redis Sender"
Add a Redis sender with the laravel PubSub.

- [x] Redis PubSub Sender

https://laravel.com/docs/5.1/redis#pubsub

[2017-01-06 10:24] Gummibeer commented on #246
https://github.com/Astrotomic/notifynder-sender-redis

[2017-01-06 10:24] #246 closed

[2017-01-06 10:25] Gummibeer commented on #245
https://github.com/Astrotomic/notifynder-sender-email

[2017-01-06 10:25] #245 closed

[2017-01-06 10:25] Gummibeer commented on #244
https://github.com/Astrotomic/notifynder-sender-slack

[2017-01-06 10:25] #244 closed

[2017-01-06 10:25] Gummibeer commented on #243
https://github.com/Astrotomic/notifynder-sender-messagebird

[2017-01-06 10:25] #243 closed

[2017-01-06 11:39] Gummibeer commented on #241
https://github.com/Astrotomic/notifynder-sender-twilio

[2017-01-06 11:39] #241 closed

[2017-01-12 16:05] Gummibeer opened #248 "Add official support for php7.1"
Add PHP 7.1 to the list of official supported php versions and travis test matrix.

[2017-01-12 16:24] Gummibeer commented on #248
https://travis-ci.org/fenos/Notifynder/builds/191352019

[2017-01-12 16:29] #248 closed

[2017-01-13 15:03] Gummibeer commented on #240
https://github.com/Astrotomic/notifynder-sender-nexmo

[2017-01-13 15:27] Gummibeer commented on #240
https://notifynder.info/Version_4/Customization/Official_Senders

[2017-01-13 15:27] #240 closed

[2017-01-25 22:17] Gummibeer opened #255 "Freetext and views"
Allow to use freetext and views instead of category.
In the same move decouple this package from database if no database sender is used.

[2017-02-03 11:58] lordadamson opened #257 "failing to migrate in laravel 5.4"
I followed the installation steps and published the migration files and then did:

`php artisan migrate`

and recieved the following:

[code]

[2017-02-04 22:29] Gummibeer commented on #257
Hey, do you have a full stacktrace?

[2017-02-05 07:28] lordadamson commented on #257
Well it's not an error with the php code where I can see a stacktrace when I navigate to some URL. I just get the above error in the console when I try to migrate.
Please let me know if there is a way to log more verbose information.
PS.
The steps to reproduce are fairly simple. Install a fresh laravel 5.4 with `laravel new blog` do a `composer require fenos/notifynder`. place the providers and al

[2017-02-05 08:03] WingsOfAltair opened #258 "Notification Localization"
Hi :)

We have tried to refer to your translation docs, but we could not use it properly.
We read the notifications like this:
[code]
We also added the translations in a `resources\lang\en\notifications.php` like this:
[code]
Example of output:
`[{"id":9,"from_id":"14","from_type":"App\\User","to_id":"5","to_type":"App\\User","category_id":1,"url":"\/","extra":{"geo_name":"Samir"},"read":0,"create

[2017-02-05 11:12] Gummibeer commented on #257
The full stack trace should be in your log - if you have installed it without changing it should be in `storage/logs/laravel.log`.
Why I ask is cause in the full stack trace should be the file and migration command that throws this error.

[2017-02-05 17:51] lordadamson commented on #257
alright I got it there you go:
[code]

[2017-02-06 09:16] Gummibeer commented on #257
Before I publish it - can you pls try to switch line 14 and 15 in file `Notifynder/src/migrations/2016_11_02_193415_drop_version4_unused_tables.php` to this:

[code]

I bet/hope that this already fixes it, if yes: it's our fault - we tested it just with SQLite - will add MySQL test too to travis.

[2017-02-06 09:40] Gummibeer commented on #258
https://github.com/Astrotomic/notifynder-documentation/issues/1

[2017-02-06 09:40] #258 closed

[2017-02-06 10:45] Gummibeer commented on #257
Ok, have added it to the develop branch - this is the fix.

I'm adding mysql tests in travis atm - after this is done I will merge it into master and tag it. Sorry for this problem.

[2017-02-06 10:52] Gummibeer opened #263 "Drop PHP5.5 support"
The official lifetime of php5.5 is over since a half year - so it could be dropped from the travis testing list.

http://php.net/supported-versions.php

[2017-02-06 10:58] #263 closed

[2017-02-06 12:53] Gummibeer commented on #257
It's fixed and tagged: https://github.com/fenos/Notifynder/releases/tag/4.0.4

[2017-02-06 12:53] #257 closed

[2017-02-06 15:28] lordadamson commented on #257
Thank you :D It's working now

[2017-02-06 22:04] Gummibeer commented on #255
after reviewe and rethink this it's something that doesn't go with the goal of this package.
instead of this the task is changed to: decouple from database.

[2017-02-06 22:04] #255 closed

[2017-02-06 22:05] Gummibeer opened #267 "decouple from database"
decouple this package from database to remove the overhead if just email or other senders are used.

[2017-02-06 22:06] Gummibeer commented on #255
#267

[2017-02-10 14:59] Gummibeer commented on #218
@LukeTowers can you pls take a look in the last commit `dev-develop` should be the corresponding composer version. Is this what you want?

[code]

[2017-02-10 17:02] LukeTowers commented on #218
@Gummibeer That could work, although I have to use 5.1 on my project. Does the current version of this library support 5.1?

[2017-02-11 11:30] Gummibeer commented on #218
Yes it does. Take a look in the travis tests or the official doc page for more details.
We Support php 5.6+, L5.0+ and sqlite, mysql and postgresql.

[2017-02-13 16:27] Gummibeer commented on #218
@LukeTowers have you tested it? In my tests it's working. If it is also for you I will merge it into `master` and create a new release for it.

[2017-02-13 17:04] LukeTowers commented on #218
@Gummibeer Haven't tested it yet as my project is using the previous version of the library and I haven't upgraded because of breaking changes yet and lack of time to reconcile the implementation with the latest version. I'll try to do that sometime soon though

[2017-02-13 21:49] Gummibeer commented on #218
Ok, cause of the successful tests and the, in my eyes, implemented requested feature - I will close this issue after release this new version.

[2017-02-13 21:53] Gummibeer commented on #218
It's tagged now: https://github.com/fenos/Notifynder/releases/tag/4.1.0

[2017-02-13 21:53] #218 closed

[2017-02-14 01:22] LukeTowers commented on #218
@Gummibeer Thanks. I'll let you know if anything goes wrong when implementing it.

[2017-03-15 11:04] szpnygo opened #271 "Can I hidden some fields in the getNotifications?"
hidden some unuseful fields

[2017-03-16 07:08] Gummibeer commented on #271
Which fields exactly do you want to hide? And what do you mean with "hide"?

These parts are default laravel eloquent queries and relations. So you can use all methods from there or edit the collection after it.

[2017-03-16 09:11] #271 closed

[2017-03-18 20:57] albertofuentes commented on #257
Thanks ;)

[2017-04-16 11:03] hopewise opened #275 "parser misses from_type model"
We have two models, Schools & Drivers.
When we read the notification text of a school, we notice that `{from}` does not refer to the `from_type` which is Driver, but to the `to_type` which is the School model itself.

We expect that {from} to return the driver model, based on from_id, but that does not happen.

We are using polymorphic as true in the settings.
Any idea? we also tried to refer to t

[2017-05-17 14:47] Gummibeer commented on #275
Hey,

sorry for the super long delay.

Have you solved your issue?

I've issued a new build on travis to check if any requirement changed.
https://travis-ci.org/fenos/Notifynder/builds/217067644

I'm sure that we have also a test that covers the `from_type`. Will search for it later and post it here.

And in general we also use the polymorphic option and it works. But will digg into it tomorrow.
I

[2017-05-30 08:13] Malraoosh opened #277 "Setting custom fields not wroking"
Hello,
I tried to add custom fields to the notifications table, but when i tried to set them using `setField` method it didn't work.

I dig in to your code and i found that the `mergeFillables` in `vendor/fenos/notifynder/src/Notifynder/Models/Notification.php` the `getCustomFillableFields` didn't get merged with the `getFillable` .

I am using V4.1 and this is the result of `getFillable` and `get

[2017-05-30 09:21] Gummibeer commented on #275
Closed due to inactivity.

[2017-05-30 09:21] #275 closed

[2017-05-30 09:26] Gummibeer commented on #277
Hey, thanks for the report - there was an error. We used `array + array` instead of `array_merge(...)`.

I'm waiting for the travis results https://travis-ci.org/fenos/Notifynder/builds/237438986 and if everything is fine I will merge and tag the fix with `v4.2.1`.

[2017-05-30 09:29] Malraoosh commented on #277
Tell me when it's done

[2017-05-30 10:30] Gummibeer commented on #277
https://github.com/fenos/Notifynder/releases/tag/4.2.1
All tests passed - so it should work now.

[2017-05-30 10:30] #277 closed

[2017-05-30 11:25] Malraoosh commented on #277
Thanks

[2017-05-30 11:39] Gummibeer commented on #277
Can you pls give feedback if this solved your issue or not!?

[2017-05-30 12:17] Malraoosh commented on #277
Yes it dose, thanks for your help

[2017-06-24 04:11] gaussian1 opened #280 "Eager Loading Notification Categories"
**Problem:**
On Retrieving Notifications an N+1 query problem occurs for notification categories

Here are the SQL Queries after running:
[code]
![notifynder](https://user-images.githubusercontent.com/10493652/27505528-21b355f6-58a2-11e7-830b-c4231042f172.png)

**Analysis:**
On attempting to eager load, the following function is called inside the NotificationParser that forces one query per catego

[2017-06-24 06:48] Gummibeer commented on #280
Hey,

thanks for the hint. But I think that there is something simpler - cause your solution doesn't load the relation it checks. So why not simply:

[code]

[2017-06-24 18:23] gaussian1 commented on #280
**That's even better!** here is a working example, because exists gives an error:
[code]
However, **this will work only** if we are passing a NotificationModel Object, I've checked the code and it seems that we never pass "$notification" as an array or a BuilderNotification as suggested in the function comment.
```@param array|ModelNotification|BuilderNotification $notification ```

Finally, if we

[2017-06-24 19:02] Gummibeer commented on #280
Yes, the param doc tag is too much - it could be:
`@param ModelNotification$notification`

I think that this comes from #229 but even there we create a model - https://github.com/fenos/Notifynder/blob/master/src/Notifynder/Builder/Notification.php#L162

But this is another issue - so you can fix all this stuff in one PR or just fix the 1+n query issue and after this I will take care about the doct

[2017-06-25 00:32] gaussian1 commented on #280
@Gummibeer A little bit unrelated, but how do you run the **unit tests**?

The following instructions give an error, and I **couldn't find** a contribution guide

[code]

[2017-06-25 06:16] gaussian1 commented on #280
I had to run and it worked
[code]

[2017-06-25 19:37] Gummibeer commented on #280
@gaussian1 we run them with TravisCI - if you want to know which commands we use: https://github.com/fenos/Notifynder/blob/master/.travis.yml
But yes, the `composer dump-autoload -o` is needed cause otherwise composer doesn't find the classes outside the PSR4-Root.

[2017-07-19 17:04] Gummibeer commented on #280
`v4.3.0-rc` is released.

[2017-07-19 17:04] #280 closed

[2019-04-04 09:08] Wuxiaoyong198386 opened #285 "test"
testt

[2019-04-04 09:18] Wuxiaoyong198386 opened #286 "There are no commands defined in the "notifynder:create" namespace."
There are no commands defined in the "notifynder:create" namespace.

[2019-04-04 09:25] #285 closed, assigned to nobody

[2019-04-04 09:27] Gummibeer commented on #286
Which command do you expect? We don't have any commands in this package https://github.com/fenos/Notifynder/tree/master/src/Notifynder
So this exception message is 100% valid.